<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
  {% block title %}{% endblock %} - FestJanta  
</title>
<link rel="stylesheet" href="/site-media/static/fonts/foundation-icons.css"
      type="text/css" />
<link rel="stylesheet" href="/site-media/static/sign.css"
    type="text/css" />
<script type="text/javascript"
     src="/site-media/static/jquery.js"></script>
</head>
<body>
  <div class="header-bar">
    <img class="header-bar-logo" src="/site-media/static/images/logo_long.png" width="102" height="31" alt="Logo" />
    
    {% block login-area%}
    {% endblock %}

  </div>
</body>
</html>
