
  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="UTF-8">
    <title>
      Activation Succesful - FestJanta  
    </title>

    <link rel="shortcut icon" href="/site-media/static/images/favicon.ico">
    <link rel="stylesheet" href="/site-media/static/style.css"
      type="text/css" />
    <link rel="stylesheet" href="/site-media/static/fonts/foundation-icons.css"
      type="text/css" />
  </head>
  <body>
  	<div id="globalheading"><img class="logo" src="/site-media/static/images/logo_long.png" width="102" height="31" alt="Logo" /></div>
    {% if error %}
      <div class="registration-success">
        <i class="fi-unlink size-48"></i> This link is not valid.
      </div>
    {% elif expired %}
    <div class="registration-success">
  <i class="fi-clock size-48"></i> Your activation link has expired.
        <a href="/login/">Click here</a> to resend the link again.</div>
    {% elif success %}
      <div class="registration-success">
  <i class="fi-check size-48"></i> Activation complete! Your account is now active.
        <a href="/login/">Login</a></div>
    {% endif %}
  </body>
  </html>