{% extends "registration/base_login.html" %}
{% block title %}Log In{% endblock %}
{% block login-area %}
	<div class="header-right-container">
    <h1>Log In</h1>
      <form method="post" action=".">
        {% csrf_token %} 
        {{ form.non_field_errors }}
          <div class="fieldWrapper">
            {{ form.username.errors }}
            <label for="id_username">Username:</label>
            {{ form.username }}
          </div>
          <div class="fieldWrapper">
            {{ form.password.errors }}
            <label for="id_password">Password:</label>
            {{ form.password }}
          </div>
          <div class="fieldWrapper">
            <label for="id_remember_me" id="remember-label">Keep me logged in</label>
            {{ form.remember_me }}
          </div>
          <input type="submit" id="register-button" class="login-button" value="Log In" />
        <input type="hidden" name="next" value="/" />
      </form>
      <p>New to FestJanta? <a href="/register/">Register here</a></p>
      <p class="forgot"><a href="/reset/">Forgot your password? </a></p>
    </div>
{% endblock %}