{% extends "registration/base_login.html" %}
{% block title %}Recover Account{% endblock %}
{% block login-area %}
	<div class="main-block">
    	<h1>Check Your Email</h1>
    	{{ form.error }}
    	<p>We have sent you an email with a recovery link. Follow the link to continue to reset your password.</p>
	</div>
{% endblock %}

