{% extends "registration/base_login.html" %}
{% block title %}Recover Account{% endblock %}
{% block login-area %}
	<div class="main-block">
    	<h1>Forgot password</h1>
    	<p>Enter your account email address below, and we'll email instructions for setting a new password.</p>
		<form method="post">
    		{% csrf_token %}
    		{{ form.as_p }}
 			<button type="submit" class="submit-button">Submit</button>
		</form>
	</div>
{% endblock %}
