{% extends "registration/base_login.html" %}
{% block title %}Reset Password{% endblock %}
{% block login-area %}
	<div class="main-block">
    	{% if validlink %}
    		<h1>Reset your password</h1>
      		<form method="post">
            	{% csrf_token %}
            	{{ form.as_p }}
            	<button class="submit-button" type="submit">Change Password</button>
        	</form>
    	{% else %}
        	<p>This reset link is no longer valid!</p>
    	{% endif %}
	</div>
{% endblock %}



   