{% extends "registration/base_login.html" %}
{% block title %}Sign Up{% endblock %}
{% block login-area %}
<script>
    $(document).ready(function(){
        function isValidEmailAddress(emailAddress) {
            var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
            return pattern.test(emailAddress);
        };

        function isValidUserName(username) {
            var pattern = new RegExp(/^[A-Za-z0-9@.+-_]{3,30}$/i);
            return pattern.test(username);
        };

        var has_errors = false;
        $('form input[name="email"]').blur(function () {
            var email = $(this).val();
            if( !isValidEmailAddress( email ) ){
              $('.notif').remove();
              $('<div class="notif">Please correct the email address.</div>').prependTo("form").hide().slideDown();
              has_errors = true;
            }
            else{  
                $.ajax({
                    type: 'GET',
                    url: "/get-description/?type=email", 
                    data: { email: email},
                    statusCode: {
                        404: function() {  
                          $('.notif').remove();
                          has_errors = false;           
                        }
                    }
                })
                    .done(function(data){
                        if (data == "True"){
                          $('.notif').remove();
                          $('<div class="notif">This email belongs to another user.</div>').prependTo("form").hide().slideDown();
                          has_errors = true;
                        }
                    });
            }
        });
        
        $('form input[name="username"]').blur(function () {
            var username = $(this).val();
            if( !isValidUserName( username ) ){
                $('.notif').remove();
                $('<div class="notif">Please enter a valid username.</div>').prependTo("form").hide().slideDown();
                    has_errors = true;
            }
            else{  
                $.ajax({
                    type: 'GET',
                    url: "/get-description/?type=username", 
                    data: { username: username},
                    statusCode: {
                        404: function() {
                          $('.notif').remove();
                          has_errors = false;           
                        }
                    }
                })
                    .done(function(data){
                        if (data == "True"){
                          $('.notif').remove();
                          $('<div class="notif">This username is not available.</div>').prependTo("form").hide().slideDown();
                            has_errors = true;
                        }
                    });
            }
        });

        $('form input[name="password2"]').blur(function () {
            var again = $(this).val();
            if(again != $('form input[name="password1"]').val()){
                $('.notif').remove();
                $('<div class="notif">Your passwords doesn\'t match.</div>').prependTo("form").hide().slideDown();
                has_errors = true;
            }
            else{
                $('.notif').remove();
                has_errors = false;
            }
        });

        $('#register-submit').click(function(){
          if (has_errors == true){
            $('.notif').remove();
              $('<div class="notif">Your passwords doesn\'t match.</div>').prependTo("form").hide().slideDown();
          }
          else {
            return true;
          }
          return false;
        });
});   
</script>

  <div id="formdiv">
    <h1>Sign Up</h1>
    {% if errors %}
      <div class="has-error-notification">
        Please correct the errors.
      </div><!-- .settings-block ends-->
    {% endif %}
    
    <form method="post" action=".">
      {% csrf_token %}
      {{ form.username }}
      <div class="help-text">
        30 characters or fewer. Letters, digits and @/./+/-/_ only.
      </div><!-- .help-textends-->
      {{ form.first_name }}
      {{ form.last_name }}
      {{ form.email }}
      </i>{{ form.password1 }}
      </i>{{ form.password2 }}
      <div class="help-text">
        Enter the same password as above, for verification.
      </div><!-- .help-textends-->
      <input type="submit" id="register-submit" value="Sign Up" />
    </form>
    <p>Already a member? <a href="/login/">Log In</a></p>
  </div><!-- #formdiv end -->

{% endblock %}

