<div class="settings-block-right">
			<div class="settings-block-right-heading">
				Account
			</div><!-- .settings-block-right-heading ends-->
			<div class="settings-block-right-heading-desc">
				Change your basic account settings.
			</div><!-- .settings-block-right-heading-desc ends-->
			<div class="settings-block-right-form">
				<form method="post" action=".">
      				{% csrf_token %}
                    <label class="input-label">Username </label><input name="username" class="input-edit" maxlength="30" type="text" value="{{ user.username }}" disabled/>
                    <div class="help-text">
                        https://festjanta.com/{{ user.username }}/
                    </div>
                    <label class="input-label email-label"> Email </label><input name="email" class="input-edit" maxlength="75" type="text" value="{{ user.email }}" disabled/>
                    <div class="help-text">
                        
                    </div><!-- .help-textends-->
     				<label class="input-label">First Name </label><input name="first_name" class="input-edit" maxlength="30" type="text" value="{{ user.first_name }}" />
     				<div class="help-text">
     					
     				</div><!-- .help-textends-->
     				<label class="input-label">Last Name </label><input name="last_name" class="input-edit"maxlength="30" type="text" value="{{ user.last_name }}" />
     				<div class="help-text">
     					
     				</div><!-- .help-textends-->
                    <label class="input-label">Password </label><input name="password" class="input-edit" maxlength="30" type="password" />
                    <div class="help-text">
                        Please enter your password to make any changes.
                    </div><!-- .help-textends-->
      				<input type="submit" id="save-changes-settings-submit" class="save-changes-button" uid="{{ user.id }}" value="Save changes" />
    			</form>
			</div><!-- .settings-block-right-form ends-->
		</div><!-- .settings-block-right ends-->
<script>
    $(document).ready(function(){
        var initial_name = $('form input[name="first_name"]').val();
        var initial_last_name = $('form input[name="last_name"]').val();
        var has_errors = false;

        $('#save-changes-settings-submit').click(function(){
            if(initial_name == $('form input[name="first_name"]').val() & initial_last_name == $('form input[name="last_name"]').val())
            {   
                $('.notif').remove();
                $('<div class="notif has-error-notification">No changes have been made.</div>').prependTo(".settings-block").hide().slideDown();
            }
            else if(!$('form input[name="password"]').val())
            {   
                $('.notif').remove();
                $('<div class="notif has-error-notification">Please enter your password to make any changes.</div>').prependTo(".settings-block").hide().slideDown();
            }
            else{
                var url = '/edit-description/3/'+ $('#save-changes-settings-submit').attr('uid') + '/'
                var first_name = $('input[name="first_name"]').val();
                var last_name = $('input[name="last_name"]').val();
                var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    first_name:first_name,
                    last_name:last_name,
                    password : $('input[name="password"]').val()
                }
                $(".preloader").show();
                $.post(url , data, function(e){
                    if (e=="error"){
                        $('input[name="password"]').val("");
                        $('.notif').remove();
                        $('<div class="notif has-error-notification">The password you entered is incorrect.</div>').prependTo(".settings-block").hide().slideDown();
                        $(".preloader").hide();
                    }
                    else{
                        location.reload();
                    }
                });
            }
        return false;
        });
    });   
</script>