{% extends "settings/settings.html" %}

{% block right %}
    {% if college %}
	   <div class="settings-block-right">
	   <div class="settings-block-right-heading">
		  <a href="{{ college.get_absolute_url }}">{{ college.name }}</a>
	   </div><!-- .settings-block-right-heading ends-->
	   <div class="settings-block-right-heading-desc">
		  Change the college settings.
	   </div><!-- .settings-block-right-heading-desc ends-->
	   <div class="settings-block-right-form">
		    <form method="post" action=".">
                <label class="input-label">Website </label><input name="website" class="input-edit" maxlength="200" type="text" value="{{ college.website }}" />
                    <div class="help-text">
                        Enter the url of the college's official website. Eg: https://www.festjanta.com/  
                    </div><!-- .help-textends-->
                <label class="input-label">Address </label><textarea rows="3" maxlength="100" name="location" class="input-edit-textarea">{{ college.location }}</textarea>
                <div class="help-text">
                    Address of the college.  
                </div><!-- .help-textends-->
     		     <label class="input-label">Description </label><textarea name="description" rows="4" class="input-edit-textarea">{{ college.description }}</textarea>
     		     <div class="help-text">
     			Enter a description about the college.
     		     </div><!-- .help-textends-->
                 <label class="input-label">Password </label><input name="password" class="input-edit" maxlength="30" type="password" />
                <div class="help-text">
                    Please enter your password to make any changes.
                </div><!-- .help-textends-->
      		    <input type="submit" id="save-changes-settings-submit" cid= "{{ college.id }}" class="save-changes-button" value="Save changes" />
    	    </form>
	   </div><!-- .settings-block-right-form ends-->
    </div><!-- .settings-block-right ends-->
<script>
    $(document).ready(function(){
        initial_website = $('input[name="website"]').val();
        initial_location = $('textarea[name="location"]').val();
        initial_description = $('textarea[name="description"]').val();
        var has_errors = false;
        $('input[name="website"]').blur(function () {
            url_validate = /^([a-z]([a-z]|\d|\+|-|\.)*):(\/\/(((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:)*@)?((\[(|(v[\da-f]{1,}\.(([a-z]|\d|-|\.|_|~)|[!\$&'\(\)\*\+,;=]|:)+))\])|((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5]))|(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=])*)(:\d*)?)(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*|(\/((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)?)|((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)|((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)){0})(\?((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|[\uE000-\uF8FF]|\/|\?)*)?(\#((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|\/|\?)*)?$/;
            if(!url_validate.test($(this).val()))
            {
                $('.notif').remove();
                $('<div class="notif has-error-notification">Please enter a valid URL.</div>').prependTo(".settings-block").hide().slideDown();
                has_errors = true;
            }
            else{
                $('.notif').remove();
                has_errors = false;
            }
        });
        

        $('#save-changes-settings-submit').click(function(){
            var content = $('textarea[name="description"]').val();
            var website = $('input[name="website"]').val();
            var location = $('textarea[name="location"]').val();

            if(initial_website == website & initial_location == location & initial_description == content)
            {
                $('.notif').remove();
                $('<div class="notif has-error-notification">No changes have been made.</div>').prependTo(".settings-block").hide().slideDown();
            }
            else if(has_errors == true)
            {
                $('.notif').remove();
                $('<div class="notif has-error-notification">Please correct the errors.</div>').prependTo(".settings-block").hide().slideDown();
            }
            else if($('form input[name="password"]').val().length == 0)
            {
                $('.notif').remove();
                $('<div class="notif has-error-notification">Please enter your password to make any changes.</div>').prependTo(".settings-block").hide().slideDown();
            }
            else{
                var url = '/edit-description/1/'+ $('#save-changes-settings-submit').attr('cid') + '/'
                var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    description:content,
                    website : website,
                    location : location,
                    password : $('input[name="password"]').val()
                }
                $(".preloader").show();
                $.post(url , data, function(e){
                    if (e=="error"){
                        $('input[name="password"]').val("");
                        $('.notif').remove();
                        $('<div class="notif has-error-notification">The password you entered is incorrect.</div>').prependTo(".settings-block").hide().slideDown();
                        $(".preloader").hide();
                        $('input[name="password"]').val("");
                    }
                    else{
                        $('.notif').remove();
                        $('<div class="notif has-error-notification">All changes have been saved successfully.</div>').prependTo(".settings-block").hide().slideDown();
                        $(".preloader").hide();
                        $('input[name="password"]').val("");
                    }
                });
            }   
        return false;
        });
    });   
</script>
    {% else %}
        <div class="settings-block-right">
            <div class="settings-block-right-heading">
                Nothing to display.
            </div><!-- .settings-block-right-heading ends-->
        </div><!-- .settings-block-right ends-->
    {% endif %}
{% endblock %}

    

