{% extends "settings/settings.html" %}
{% block right %}
		<div class="settings-block-right">
			<div class="settings-block-right-heading">
				Password
			</div><!-- .settings-block-right-heading ends-->
			<div class="settings-block-right-heading-desc">
				Change your password.
			</div><!-- .settings-block-right-heading-desc ends-->
			<div class="settings-block-right-form">
				<form id="passwordform" method="post" action=".">
      				{% csrf_token %}
     				<label class="input-label">Current password </label><input name="current" class="input-edit" maxlength="30" type="password" />
     				<div class="help-text">

     				</div><!-- .help-textends-->
     				<label class="input-label">New password </label><input name="newpassword" class="input-edit" type="password" />
     				<div class="help-text">
     					
     				</div><!-- .help-textends-->
     				<label class="input-label">Verify password </label><input name="again" class="input-edit" type="password" />
                    <div id = "email-input-error" class="help-text">
                        Your passwords don't match,
                    </div><!-- .help-textends-->
     				<div class="help-text">
     					Enter the same password as above, for verification.
     				</div><!-- .help-textends-->
      				<input type="submit" id="save-changes-settings-submit" class="save-changes-button" uid="{{ user.id }}" value="Save changes" />
    			</form>
			</div><!-- .settings-block-right-form ends-->
		</div><!-- .settings-block-right ends-->
<script>
    $(document).ready(function(){
        $("#email-input-error").hide();
        var has_errors = false;
        $('form input[name="again"]').blur(function () {
            var again = $(this).val();
            if(again != $('form input[name="newpassword"]').val()){
                $("#email-input-error").show();
                has_errors = true;
            }
            else{
                $("#email-input-error").hide();
                has_errors = false;
            }
        });

        $('#passwordform').submit(function(){
            if ((!$('form input[name="newpassword"]').val()) || (!$('form input[name="again"]').val()) || (!$('form input[name="current"]').val())){
                $('.notif').remove();
                $('<div class="notif has-error-notification">Enter your current and new passwords.</div>').prependTo(".settings-block").hide().slideDown();
            }
            else if (has_errors){
                $('.notif').remove();
                $('<div class="notif has-error-notification">Please correct the errors.</div>').prependTo(".settings-block").hide().slideDown();
            }
            else{
                var url = '/edit-description/4/'+ $('#save-changes-settings-submit').attr('uid') + '/'
                var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    current :$('input[name="current"]').val(),
                    again :$('input[name="again"]').val(),
                    newpassword :$('input[name="newpassword"]').val()
                }
                $(".preloader").show();
                $.post(url , data, function(e){
                    if (e=="error"){
                        $('input[name="current"]').val("");
                        $('.notif').remove();
                        $('<div class="notif has-error-notification">The password you entered is incorrect.</div>').prependTo(".settings-block").hide().slideDown();
                        $(".preloader").hide();
                    }
                    else{
                        location.reload();
                    }
                });
            }
        return false;
        });
    });   
</script>
{% endblock %}