{% extends "settings/settings.html" %}
{% block right %}
		<div class="settings-block-right">
			<div class="settings-block-right-heading">
				Profile
			</div><!-- .settings-block-right-heading ends-->
			<div class="settings-block-right-heading-desc">
				Change your profile settings.
			</div><!-- .settings-block-right-heading-desc ends-->
			<div class="settings-block-right-form">
				<form id="passwordform" method="post" action=".">
      				{% csrf_token %}
     				<label class="input-label">Education </label><input id="education" name="education" class="input-edit" maxlength="30" type="text" value="{{ user_profile.education }}" />
     				<div class="help-text">
                        Your education institution's name.
     				</div><!-- .help-textends-->
     				<label class="input-label">Bio </label><textarea rows="8" class="input-edit-textarea" maxlength="330" name="bio">{{ user_profile.bio }}</textarea>
     				<div class="help-text">
     					About yourself in 330 characters or less.
     				</div><!-- .help-textends-->
            <label class="input-label">Password </label><input name="password" class="input-edit" maxlength="30" type="password" />
            <div class="help-text">
              Please enter your password to make any changes.
            </div><!-- .help-textends-->
      			<input type="submit" id="save-changes-settings-submit" class="save-changes-button" uid="{{ user.id }}" value="Save changes" />
    			</form>
			</div><!-- .settings-block-right-form ends-->
		</div><!-- .settings-block-right ends-->
<script>
    $(document).ready(function(){
        var initial_education = $('form input[name="education"]').val();
        var initial_bio = $('textarea[class="input-edit-textarea"]').val();
        $("#education").autocomplete({
            source: "/ajax/college/autocomplete/",
            minLength: 3,
        });

        $('#save-changes-settings-submit').click(function(){
            if(initial_education == $('form input[name="education"]').val() & initial_bio == $('textarea[class="input-edit-textarea"]').val())
            {
                $('.notif').remove();
                $('<div class="notif has-error-notification">No changes have been made.</div>').prependTo(".settings-block").hide().slideDown();
            }
            else if($('form input[name="password"]').val().length == 0)
            {
                $('.notif').remove();
                $('<div class="notif has-error-notification">Please enter your password to make any changes.</div>').prependTo(".settings-block").hide().slideDown();
            }
            else{
                var url = '/edit-description/5/'+ $('#save-changes-settings-submit').attr('uid') + '/'
                var content = $('textarea[class="input-edit-textarea"]').val();
                var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    education: $('input[name="education"]').val(),
                    bio:content,
                    password : $('input[name="password"]').val()
                }
                $(".preloader").show();
                $.post(url , data, function(e){
                  if (e=="error"){
                    $('input[name="password"]').val("");
                    $('.notif').remove();
                    $('<div class="notif has-error-notification">The password you entered is incorrect.</div>').prependTo(".settings-block").hide().slideDown();
                    $(".preloader").hide();
                  }
                  else{
                    location.reload();
                  }
                });
            }
        return false;
        });
    });   
</script>
{% endblock %}