{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
   
	{% csrf_token %}
   <div class="preloader">
      <img src="/site-media/static/images/preloader.gif" alt="Loading..." />
   </div>
   <div class="settings-block">
		<div class="settings-block-left">
			<img class="user-image" src="/site-media/{{ user.person.thumbnail2 }}" />  
			<div class="settings-block-left-name"><a href="/{{ user.username }}/">{{ user.first_name }} {{ user.last_name }}</a></div><!-- .settings-block-left-name ends-->
			<div id='cssmenu'>
			<ul>
   				<li class='active settings-block-left-2'><a href="/settings/"><span>Account</span></a></li>
   				<li class='active settings-block-left-2'><a href="/settings/profile/"><span>Profile</span></a></li>
   				<li class='active settings-block-left-2'><a href="/settings/password/"><span>Password</span></a></li>
   				{% if colleges %}
   				<li class='has-sub settings-block-left-2'><a><span>College</span></a>
      				<ul>
      				{% for college in colleges %}
         				<li><a href='/settings/college/{{ college.slug }}/'><span>{{ college.name }}</span></a></li>
         			{% endfor %}
      				</ul>
   				</li>
   				{% endif %}
   				{% if fests %}
   				<li class='has-sub settings-block-left-2'><a><span>Fest</span></a>
      				<ul>
      				{% for fest in fests %}
         				<li><a href='/settings/fest/{{ fest.slug }}/'><span>{{ fest.name }}</span></a></li>
         			{% endfor %}
      				</ul>
   				</li>
   				{% endif %}
			</ul>
			</div><!-- #cssmenu ends-->
			
		</div><!-- .settings-block-left ends-->
		{% block right %}
			{% include "settings/account.html" %}
		{% endblock %}
	</div><!-- .settings-block ends-->
{% endblock %}