<div class="fest-content-event">
	{% load fest_extras %}
<a class="user_stream_image" href="/{{ object.user.username }}/">
	<img src="/site-media/{{ object.user.person.thumbnail2 }}" />
</a>
<div class="user_stream_heading">
	<a href="/{{ object.user.username }}/">{{ object.user.first_name }}</a> 
	is now following 
	<a href="/college/{{ object.follows.slug }}/">{{ object.follows.name }}</a>.
</div><!-- .user_stream_heading ends -->

<div class="user_stream_date" title="{{ object.pub_date }}">
	<a href="{{ object.follows.get_absolute_url }}">
    	<i class="fi-clock size-14"></i> {{ object.pub_date|get_date_string }}
    </a>
</div><!-- .user_stream_date ends -->

</div>
