<div class="fest-content-event">
    {% load fest_extras %}
    <a class="user_stream_image" href="/{{ object.event.user.username }}/"><img src="/site-media/{{ object.event.user.person.thumbnail2 }}" /></a>

    <div class="user_stream_heading">
        <a href="/{{ object.event.user.username }}/">{{ object.event.user.first_name }}</a> upvoted a post.
    </div><!-- .user_stream_heading ends -->
    
<div class="user_stream_date" title="{{ object.pub_date }}">
    <a href="{% url 'event_page' object.event.fest.slug object.event.id %}">
        <i class="fi-clock size-14"></i> {{ object.pub_date|get_date_string }}
    </a>
</div><!-- .user_stream_date ends -->

    <div class="user_stream_content">
    
         {% with photos=object.event.photo_set.all %} 
        {% if photos %}
        <div class="fest-content-event-content-title">
            <div class="photo-count">{{ object.event.photo_set.count }} <i class="fi-photo size-10"></i></div>
        </div><!-- .fest-content-object-content-title ends -->
        {% endif %}
        {% if object.event.description %}
            {{ object.event.description|linebreaksbr }}<br>
        {% endif %}

  {% if photos|length > 1 %}
    {% for photo in photos|slice:"2" %}
      <a href="/site-media/{{ photo.image }}" title="{{ photo.title }}" class="event-album album-group-{{object.event.id}}" ><img class="fest-content-event-content-photothumb" src="/site-media/{{ photo.thumbnail }}" /></a>
    {% endfor %}
    {% for photo in photos|slice:"2:" %}
      <a href="/site-media/{{ photo.image }}" title="{{ photo.title }}" class="event-album album-group-{{object.event.id}}" style="display: none;"></a>
    {% endfor %}
  {% else %}
    {% for photo in photos|slice:"1" %}
      <a href="/site-media/{{ photo.image }}" title="{{ photo.title }}" class="event-album album-group-{{object.event.id}}" ><img class="fest-content-event-content-photo" width = "100%" src="/site-media/{{ photo.thumbnail2 }}" /></a>
    {% endfor %}
  {% endif %}
{% endwith %}

    </div><!-- .user_stream_content ends -->
    
<a class="expand" href="/#" eid="{{ object.event.id }}">Expand</a>
     
    <div class="comment-expand">
    </div><!-- .fest-content-event-comment ends -->    
    </div><!-- .fest-content-event-->    