  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}{% endblock %} - FestJanta  
    </title>

    <link rel="shortcut icon" href="/site-media/static/images/favicon.ico">
    <link rel="stylesheet" href="/site-media/static/style.css"
      type="text/css" />
    <link rel="stylesheet" href="/site-media/static/fonts/foundation-icons.css"
      type="text/css" />
    <link rel="stylesheet" href="/site-media/static/jquery-ui.css"
      type="text/css" />
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="/site-media/static/colorbox.css"> 
    <!-- Magnific Popup core JS file -->
    
    <script type="text/javascript"
     src="/site-media/static/jquery.js"></script>
    <script type="text/javascript"
     src="/site-media/static/jquery-ui.js"></script>
     <script src="/site-media/static/jquery.colorbox.js"></script> 
     <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>
      $(document).ready(function(){

        //photoviewer
        $("body").delegate(".event-album", "click", function(event){
          event.preventDefault();
          var album = '.'+ $(this).attr("class").split(' ')[1];
          var album_rel = $(this).attr("class").split(' ')[1];
          $(album).colorbox({ rel:album_rel, retinaImage:'true', maxWidth:'100%', maxHeight:'100%'});
        });

        $(".album-group").colorbox({ rel:'album-group', retinaImage:'true', maxWidth:'100%', maxHeight:'100%'});

        $(".u-post-button").hide();
        //endless pagination
        $.endlessPaginate({
          paginateOnScroll: true,
          paginateOnScrollMargin: 20
        });

        $(".preloader").hide();
        $(".preloader1").hide();
        $(".preloader2").hide();
        //load comments for a post
        $("body").delegate(".expand", "click", function(){
          var button = $(this);
          var id = $(this).attr("eid");
          var url = "/get-complete/" + id + '/';
          $.ajax({  
            type: "GET", 
            url: url,
            dataType: 'json',  
            success: function( data ) { 
              button.siblings('.comment-expand').hide().html(function() {
                return $.map(data, function(v) {
                  return v.html + '<br>';
                }).join('');
              }).slideDown(); 
              button.attr('class', 'collapse').html('Collapse');
            },  
          });
          return false;
        });

        //collapse comments for a post
        $("body").delegate(".collapse", "click", function(){
          var button = $(this);
          button.siblings('.comment-expand').slideUp('slow');
          button.attr('class', 'expand');
          button.html('Expand');
          return false;
        });

        $("#remove-post").dialog({
          autoOpen: false,
          height:'auto', 
          width:'auto',
          modal: true
        });

        $("body").delegate("a.delete-post", "click", function(e){
          e.preventDefault();
          button = $(this);
          ID = $(this).attr('eid');
          $('#remove-post').html('<div class="dialog-content">Are you sure you want to delete this post? Once, deleted it can\'t be reversed.</div><div class="dialog-button"> <button id="delete-confirm">Delete</button><button id="delete-cancel">Cancel</button></div>');
          $('#remove-post').dialog("open");
          $("body").delegate("#delete-confirm", "click", function(e){
            url = '/delete-event/' + ID + '/';
            var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
            $('.preloader2').show();
            $.ajax({  
              type: "POST", 
              url: url, 
              data: data,
              success: function() { 
                $('#remove-post').dialog("close");
                button.closest('.fest-content-event')
                  .fadeTo(300,0,function(){
                    $(this)
                      .animate({height:0},200,function(){
                        $(this)
                          .remove();
                    });
                  });
                $('.preloader2').hide();
              },  
            });
          });

          $("body").delegate("#delete-cancel", "click", function(e){
            $('#remove-post').dialog("close");
          });
           
        });

          $(".countbar").each(function(){      
          var ups = parseInt($(this).children('.ups').html());
          var downs = parseInt($(this).children('.downs').html());
          var percent = (ups/(ups+downs))*100;

          if ((percent >= 0) && (percent <= 100)) {
            var sparkbar = $(this).width();

            if (sparkbar >= 0) {
              // Based on 100 percentage and width of sparkbar
              var like_percentage = percent;
              var dislike_percentage = 100 - like_percentage;
              $($(this).children('.countbar-like')).css("width", like_percentage + "%");   
              $($(this).children('.countbar-dislike')).css("width", dislike_percentage + "%");
            }
          }
      });


        $("#add-post-bar").hide();

        $("#header-search-input").autocomplete({
          source: "/query_suggestions/",
          focus: function (event, ui) {
            $(event.target).val(ui.item.label);
            return false;
          },
          select: function (event, ui) {
            $(event.target).val(ui.item.label);
            window.location = ui.item.value;
            return false;
          }
        });

        var new_album = "true";
        var event_id = 0;
        var album_counter = 0;
        $("body").delegate("#album-upload", "change", function(e){
          e.preventDefault();
          var btn = $(this);
          file = $(this)[0].files[0];
          content_type = file.type.split('/')[0]
          if(content_type != 'image'){
            $('.notif').remove();
            $('.preloader2').hide();
            $('<div class="notif has-error-notification">File type is not supported.</div>').prependTo(".fest-container").hide().slideDown();
          }
          else if(file.size > 3145728){
            $('.notif').remove();
            $('.preloader2').hide();
            $('<div class="notif has-error-notification">Image should be less than 3MB.</div>').prependTo(".fest-container").hide().slideDown();
          }
          else{
            album_counter +=1;
            $('.notif').remove();
            var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
            fest_pk = btn.attr("fid");
            var album_description = document.getElementsByName('description')[0].value
            var formData = new FormData(); 
            formData.append("file", file);
            formData.append("csrfmiddlewaretoken", csrftoken);
            formData.append("fest_pk", fest_pk);
            formData.append("album_description", album_description);
            formData.append("new", new_album);
            formData.append("event_id", event_id);
            $('#albump').show();
            if (album_counter<=10){
              $('.preloader2').show();
              $.ajax({  
                type: "POST", 
                url: "/upload-event-album/",  
                data: formData, 
                contentType: false, 
                processData: false, 
                success: function( data ) { 
                  $('.preloader2').hide();
                  if (data == "max-limit-reached"){
                    $('.notif').remove();
                    $('<div class="notif has-error-notification">You have uploaded 10 photos. More cannot be added.</div>').prependTo(".fest-container").hide().slideDown();
                  }
                  else{
                    $('.notif').remove();
                    new_album = "false";
                    var obj = jQuery.parseJSON(data);
                    event_id = obj[0];
                    $.get('/uploaded-event-image/', {photo_pk : obj[1]}, function(data){
                      $('#thumbnail-container').prepend("<img src='/site-media/"+data+"' width='50' height='50' />").hide().fadeIn("slow");
                    });
                  }    
                }, 
              });
            }
            else{
              $('.notif').remove();
              $('<div class="notif has-error-notification">You have uploaded 10 photos. More cannot be added.</div>').prependTo(".fest-container").hide().slideDown();
            } 
          }  
        });

        $("#event-post-button").click(function(){ 
          album_counter = 0;
          new_album = "true";    
          var content = $('#event-description').val();
          if (content || $("#album-upload").val())
          {
            fest_id = $("#fest-id").val();
            //csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
            var url = '/uploaded-event-album/' + event_id + '/';
            var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
              content:content,
              fest_id:fest_id,
            }
            $.post(url , data, function(data){
              var obj = $.parseJSON(data);
              $('.latest-event').prepend(function() {
                  return $.map(obj, function(v) {
                    return v.html;
                  }).join('');
              }).hide().slideDown();  
              $('.notif').remove();
              $("#thumbnail-container").empty();
              $('#event-description').val(""); 
              $("#album-upload").val("");
              $("#event-description").attr("rows", "1");
              $("#add-post-bar").hide();
              $('#loading').hide(); 
              event_id = 0;
            });
          }
          else
            $('#event-description').attr("rows", "1"); 
          return false;
        });

        $('.viewport').hover(function (e) {
          $(this).children('a').children('span').fadeToggle(200);
        });

        $('.viewp').hover(function (e) {
          $(this).children('a').children('span').fadeToggle(200);
        });

        $( "#edit-picture-dialog" ).dialog({
          autoOpen: false,
          height:'auto', 
          width:'auto',
          modal: true
        });

        $('#edit-picture').click(function(){
          $("#edit-picture-dialog").dialog("open");
          return false;
        });

        $('#close-dialog').click(function(){
          $("#edit-picture-dialog").dialog( "close" );
          return false;
        });

        $('#edit_user_image').change(function(){
          var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
          var formData = new FormData(); 
          formData.append("file", $('#edit_user_image')[0].files[0]);
          formData.append("csrfmiddlewaretoken", csrftoken);
          $('#dp').show();
          $.ajax({  
            type: "POST", 
            url: "/upload-image/1/",  
            data: formData, 
            contentType: false, 
            processData: false, 
            success: function( data ) { 
              if (data=="file-type-error"){
                $('.notif').remove();
                $('#dp').hide();
                $('<div class="notif has-error-notification">File type is not supported.</div>').prependTo("#edit-picture-dialog").hide().slideDown();
              }
              else{
                $('#dp').hide();
                $('.notif').remove();
                $("#edit-picture-dialog").dialog( "close" );
                $.get('/uploaded-image/?type=user', function(data){
                  var src = "/site-media/" +data; 
                  $('#user-page-image').attr("src", src);
                  $('.dialog-image-thumb').attr("src", src);
                });
              }
            }, 
          });  
        });

        $('#edit_college_image').change(function(){
          var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
          var college_pk = document.getElementsByName('college-id')[0].value
          var formData = new FormData(); 
          formData.append("file", $('#edit_college_image')[0].files[0]);
          formData.append("csrfmiddlewaretoken", csrftoken);
          formData.append("college_pk", college_pk);
          $('#dp').show();
          $.ajax({  
            type: "POST", 
            url: "/upload-image/3/",  
            data: formData, 
            contentType: false, 
            processData: false, 
            success: function( data ) { 
              if (data=="file-type-error"){
                $('.notif').remove();
                $('<div class="notif has-error-notification">File type is not supported.</div>').prependTo("#edit-picture-dialog").hide().slideDown();
                $('#dp').hide();
              }
              else{
                $('#dp').hide();
                $('.notif').remove();
                $('#dp').hide();
                $("#edit-picture-dialog").dialog( "close" );
                $.get('/uploaded-image/?type=college', { college_pk: college_pk}, function(data){
                  var src = "/site-media/" +data; 
                  $('#college-image').attr("src", src);
                  $('.dialog-image-thumb').attr("src", src);
                });
              }
            }, 
          });  
        });

        $('#edit_fest_image').change(function(){
          var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
          var fest_pk = document.getElementsByName('fest-id')[0].value
          var formData = new FormData(); 
          formData.append("file", $('#edit_fest_image')[0].files[0]);
          formData.append("csrfmiddlewaretoken", csrftoken);
          formData.append("fest_pk", fest_pk);
          $('#dp').show();
          $.ajax({  
            type: "POST", 
            url: "/upload-image/2/",  
            data: formData, 
            contentType: false, 
            processData: false, 
            success: function( data ) { 
              if (data=="file-type-error"){
                $('#dp').hide();
                $('.notif').remove();
                $('<div class="notif has-error-notification">File type is not supported.</div>').prependTo("#edit-picture-dialog").hide().slideDown();
              }
              else{
                $('.notif').remove();
                $('#dp').hide();
                $("#edit-picture-dialog").dialog( "close" );
                $.get('/uploaded-image/?type=fest', { fest_pk: fest_pk}, function(data){
                  var src = "/site-media/" +data; 
                  $('#fest-image').attr("src", src);
                  $('.dialog-image-thumb').attr("src", src);
                });
              }
            },
          });  
        });

        $("#event-description").click(function(){
          $("#event-description").attr("rows", "4");
          $("#add-post-bar").show();
        });

        
        $("body").delegate(".comment-post-content", "click", function(){
          $(this).attr("rows", "3");
          var btn = $(this);
          var currentPost = btn.parents('.fest-content-event');
          $(currentPost.find('.u-post-button')).show();
        });

        function followFest() {
          var url = '/follows/' + $('#follow-fest').attr('fid') + '/'
          var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
          $.post(url , data, function(){
            $('#follow-fest').attr('class', "u-unfollow");
            $('#follow-fest').html("Unfollow");
            $('.fest-followings-count').html(function(i, val){return +val+1});
          });
          return false;
        } 

        function unfollowFest() {
          var url = '/unfollows/' + $('#follow-fest').attr('fid') + '/'
          var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
          $.post(url , data, function(){
            $('#follow-fest').attr('class', "u-follow");
            $('#follow-fest').html("Follow");
            $('.fest-followings-count').html(function(i, val){return +val-1});
          });
          return false;
        } 

        function followCollege() {
          var url = '/followscollege/' + $('#follow-college').attr('cid') + '/'
          var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
          $.post(url , data, function(){
            $('#follow-college').attr('class', "u-unfollow");
            $('#follow-college').html("Unfollow");
            $('.college-followings-count').html(function(i, val){return +val+1});
          });
          return false;
        } 

        function unfollowCollege() {
          var url = '/unfollowscollege/' + $('#follow-college').attr('cid') + '/'
          var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
          $.post(url , data, function(){
            $('#follow-college').attr('class', "u-follow");
            $('#follow-college').html("Follow");
            $('.college-followings-count').html(function(i, val){return +val-1});
          });
          return false;
        } 

        $("#add_fest").click(function(){
          $("#add_fest_dialog").dialog({dialogClass: 'no-close success-dialog', width: 'auto', resizable : 'false', 'modal': true});
          $("#add_fest_dialog").load("/save/", null);
          return false;
        });


        $("#follow-fest").click(function(){
          if ($('#follow-fest').attr('class')=="u-unfollow")
            unfollowFest();
          else
            followFest();
          return false;
        });

        $("body").delegate(".u-fest-unfollow", "click", function(event){
          event.preventDefault();
          var button = $(this);
            var url = '/unfollows/' + button.attr('fid') + '/'
            var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
            $.post(url , data, function(){
              button.attr('class', "u-fest-follow");
              button.html("Follow");
              button.siblings('.college-fest-list-followers-count').html(function(i, val){return +val-1});
            });
        });

        $("body").delegate(".u-fest-follow", "click", function(event){
          event.preventDefault();
          var button = $(this);
          var currentPost = button.parents('.college-fest-list-fest');
            var url = '/follows/' + button.attr('fid') + '/'
            var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
            $.post(url , data, function(){
              button.attr('class', "u-fest-unfollow");
              button.html("Unfollow");
              button.siblings('.college-fest-list-followers-count').html(function(i, val){return +val+1});
            });
        });
   

        $("#follow-college").click(function(){
          if ($('#follow-college').attr('class')=="u-unfollow")
            unfollowCollege();
          else
            followCollege();
          return false;
        });

        function followUser() {
          var url = '/followsuser/' + $('#follow-user').attr('uid') + '/'
          var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
          $.post(url , data, function(){
            $('#follow-user').attr('class', "u-unfollow");
            $('#follow-user').html("Unfollow");
          });
          return false;
        } 

        function unfollowUser() {
          var url = '/unfollowsuser/' + $('#follow-user').attr('uid') + '/'
          var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
          $.post(url , data, function(){
            $('#follow-user').attr('class', "u-follow");
            $('#follow-user').html("Follow");
          });
          return false;
        } 

        $("#follow-user").click(function(){
          if ($('#follow-user').attr('class')=="u-unfollow")
            unfollowUser();
          else
            followUser();
          return false;
        });

        $("body").delegate(".followers-button", "click", function(){
          var button = $(this);
          if ($(this).attr('class')=="follower-unfollow followers-button")
            {
              var url = '/unfollowsuser/' + $(this).attr('fid') + '/'
              var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
              $.post(url , data, function(){
                button.attr('class', "follower-follow followers-button");
                button.html("Follow");
              });
              return false;
            }
          else
            {
              var url = '/followsuser/' + $(this).attr('fid') + '/'
              var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
              $.post(url , data, function(){
                button.attr('class', "follower-unfollow followers-button");
                button.html("Unfollow");
              });
            return false;
            }
          return false;
        });

        $(".college-followers-button").click(function(){
          var button = $(this);
          if ($(this).attr('class')=="follower-unfollow college-followers-button")
            {
              var url = '/unfollowscollege/' + $(this).attr('cid') + '/'
              var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
              $.post(url , data, function(){
                button.attr('class', "follower-follow college-followers-button");
                button.html("Follow");
              });
              return false;
            }
          else
            {
              var url = '/followscollege/' + $(this).attr('cid') + '/'
              var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
              $.post(url , data, function(){
                button.attr('class', "follower-unfollow college-followers-button");
                button.html("Unfollow");
              });
            return false;
            }
          return false;
        });

        $(".fest-followers-button").click(function(){
          var button = $(this);
          if ($(this).attr('class')=="follower-unfollow fest-followers-button")
            {
              var url = '/unfollows/' + $(this).attr('cid') + '/'
              var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
              $.post(url , data, function(){
                button.attr('class', "follower-follow fest-followers-button");
                button.html("Follow");
              });
              return false;
            }
          else
            {
              var url = '/follows/' + $(this).attr('cid') + '/'
              var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
              $.post(url , data, function(){
                button.attr('class', "follower-unfollow fest-followers-button");
                button.html("Unfollow");
              });
            return false;
            }
          return false;
        });

        function college_followFest() {
          var url = $('#follow-fest').attr('href');
          var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
          $.post(url , data, function(){
            $('#follow-fest').attr('href', "/unfollows/{{ fest.id }}/");
            $('#follow-fest').attr('class', "u-unfollow");
            $('#follow-fest').html("Unfollow");
            $('.fest-followings-count').html(function(i, val){return +val+1});
          });
          return false;
        }


        //Post an event and get the latest event
        $('#loading').hide();
        

        $("body").delegate(".u-post-button", "click", function(){ 
          var btn = $(this);
          var currentPost = btn.parents('.fest-content-event');
          var content = btn.siblings('textarea[name="comment-post-content"]').val();
          if (content)
          {
          var event_id = currentPost.find('.event-id').val();
          var url= '/post-comments/'+event_id +'/';
          var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    content: content
                   }
          $.post(url , data, function(data){
            var obj = $.parseJSON(data);
            var lang = '';
            $.each(obj, function() {
              lang += this['html'];
            });
            $(currentPost.find('.latest-comment')).prepend(lang).hide().fadeIn("slow"); 
            $(currentPost.find('.comment-post-content')).val(""); 
            $(currentPost.find('.comment-post-content')).attr("rows", "1");
            $(".comment-post-content").css("border-color", "#dedede");
            $(currentPost.find('.u-post-button')).hide(); 
            $(currentPost.find('.u-comments')).html(function(i, val){return +val+1});
          });
          } 
          else
          {
            $(currentPost.find('.comment-post-content')).attr("rows", "1");
            $(".comment-post-content").css("border-color", "#dedede");
            $(currentPost.find('.u-post-button')).hide();
          } 
          return false;
        }); 

        $(".college-fest-follow").click(function(){
          var button = $(this);
          var cPost = button.parents('.college-fest-list-fest');
          var url= '/follows/'+ button.attr('fid') +'/';
          var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
          if (cPost.find('.college-fest-follow').val()=="Follow")
            $.post(url , data, function(){
              button.attr('class', "u-unfollow college-fest-follow");
              button.html("Unfollow");
              $(currentPost.find('.college-fest-list-followers')).html(function(i, val){return +val-1}); 
            });
          else
            $.post(url , data, function(){
              button.attr('class', "u-follow college-fest-follow");
              button.html("Follow");
              $(cPost.find('.college-fest-list-followers')).html(function(i, val){return +val+1}); 
            });
          return false; 
        }); 

        $("body").delegate(".u-dislike", "click", function(e){
          event.preventDefault(e);
          var button = $(this);
          url = '/dislike-event/1/' + button.attr('eventi') + '/';
          var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
          $.post(url, data, function(){
            var currentPost = button.parents('.ld-container2');
            button.attr("class", "u-disliked");
            if (currentPost.find('.u-liked').length > 0) 
            {
              currentPost.find('.u-downvotes').html(function(i, val){return +val+1});
              currentPost.find('.u-upvotes').html(function(i, val){return +val-1});
              currentPost.find('.u-liked').attr("class", "u-like");
            }
            else
              currentPost.find('.u-downvotes').html(function(i, val){return +val+1});
          });
        }); 

        $("body").delegate(".u-disliked", "click", function(e){
          event.preventDefault(e);
          var button = $(this);
          url = '/dislike-event/2/' + button.attr('eventi') + '/';
          var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
          $.post(url, data, function(){
            var currentPost = button.parents('.ld-container2');
            button.attr("class", "u-dislike"); 
            currentPost.find('.u-downvotes').html(function(i, val){return +val-1});
          });
        });

        $("body").delegate(".u-like", "click", function(e){
          event.preventDefault(e);
          var button = $(this);
          url = '/like-event/1/' + button.attr('eventi') + '/';
          var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
          $.post(url, data, function(){
            var currentPost = button.parents('.ld-container2');
            button.attr("class", "u-liked"); 
            if (currentPost.find('.u-disliked').length > 0) 
            { 
              currentPost.find('.u-upvotes').html(function(i, val){return +val+1});
              currentPost.find('.u-downvotes').html(function(i, val){return +val-1});
              currentPost.find('.u-disliked').attr("class", "u-dislike");
            }
            else
            {
              currentPost.find('.u-upvotes').html(function(i, val){return +val+1});
            }
          });
        }); 

        $("body").delegate(".u-liked", "click", function(e){
          event.preventDefault(e);
          var button = $(this);
          url = '/like-event/2/' + button.attr('eventi') + '/';
          var data = {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,}
          $.post(url, data, function(){
            var currentPost = button.parents('.ld-container2');
            button.attr("class", "u-like");
            currentPost.find('.u-upvotes').html(function(i, val){return +val-1});
          });
        });

        



  });
  </script>
    {% block external %}{% endblock %}
  </head>
  <body>
    <div class="header-container">
      <a href="/">
        <img class="logo" src="/site-media/static/images/logo_long.png" width="102" height="31" alt="Logo" />
      </a>
      <input type="text" id="header-search-input" placeholder="Search for fest, colleges or people" />
      
      {% if user.is_authenticated %}
      <div id="cssmenutop">
        <ul>
          <li class='active'><a href='/'><span>Home</span></a></li>
          <li class='has-sub'><a href='/{{user.username}}/'><span>{{ user.first_name }}</span></a>
            <ul>
              <li><a href='/settings/'><span>Settings</span></a></li>
              <li><a href='/logout/'><span>Logout</span></a></li>
            </ul>
          </li>
          <li class='last'><a href='#' id="add_fest"><span>Add Fest</span></a></li>
        </ul>
      </div><!-- .right-container ends -->
      {% else %}
      <div id="cssmenutop">
        <ul>
          <li class='active'><a href='/login/'><span>Login</span></a></li>
          <li ><a href='/register/'><span>Sign Up</span></a>
        </ul>
      </div><!-- .right-container ends --> 
      {% endif %} 
    </div><!-- .header-container ends -->

    {% block content %}{% endblock %}<div id="add_fest_dialog"></div>
    
  </body>
  </html>