{% load endless %}

{% lazy_paginate 9 college_followers %}
<div>
  {% for follower in college_followers %}
    <div class="follower-container2">
        <a href="/{{ follower.user.username }}/"><img src="/site-media/{{ follower.user.person.thumbnail2 }}/" /></a>
        <div class="follower-name2">
          <a href="/{{ follower.user.username }}/" >{{ follower.user.first_name }} {{ follower.user.last_name }}</a>
        </div><!-- .following-name ends -->
    </div><!-- .following-container ends -->
    {% endfor %}
  </div>

{% show_more %}