{% extends "base.html" %}
{% block title %}{{ college.name|title }}{% endblock %}
{% block content %}
<div class="college-container">
<div class="college-left-pane">
{% if editable %} 

<div id="edit-picture-dialog">
  <div class="dialog-title">Edit College Photo</div><!-- .dialog-title ends -->
  <input type="hidden" name="college-id" value="{{ college.id }}">
  <img class="dialog-image-thumb" src="/site-media/{{ college.thumbnail }}" height="70" width="70" />
  {% csrf_token %}
  Upload New Photo
  <input id="edit_college_image" name="image" type="file" />
  <div id="dp" class="preloader1">
      <img src="/site-media/static/images/preloader.gif" alt="Loading..." />
  </div>
  <br>
  <a id="close-dialog" href="#">Close</a>
</div><!-- #edit-picture-dialog ends -->
<div class="college">
  <div class="fest-left">
  <div class="viewp">
    <a href="#" id="edit-picture">
        <span class="dark-background">Edit Photo</span>
    </a>
    <img id="college-image" src="/site-media/{{ college.image }}" width="250" height="193" />
  </div><!-- .viewp ends -->
{% else %}

  <div class="college">
    <div class="fest-left">
  <img id="college-image" src="/site-media/{{ college.image }}" width="250" height="193" />
{% endif %}
</div><!-- .fest-left ends -->

      {% if user.is_authenticated %}
      <div class="college-right">

      {% if follows %}
        <a href="/#" cid="{{ college.id }}" id="follow-college" class="u-unfollow">Unfollow</a> 
      {% else %}
        <a href="/#" cid="{{ college.id }}" id="follow-college" class="u-follow">Follow</a>
      {% endif %}
      
      <a href="{% url 'college_followers' college.slug %}"><div class="college-followings">
        <div class="college-followings-count">{{ college_followings }}</div><!-- .fest-followings-count ends -->
        <i class="fi-torsos-all-female size-14"></i>
      </div><!-- .fest-followings ends --></a>
      </div><!-- .college-right ends -->
      {% endif %}
      <div class="college-name">{{ college.name|title }}</div><!-- .college-name ends -->
      {% csrf_token %}
      <div class="college-website"><a href="{{ college.website }}">{{ college.website|slice:"42" }}</a></div><!-- .college-website ends -->
      <div class="college-location" title="Address">{{ college.location|linebreaksbr }}</div><!-- .college-location ends -->

      
</div><!--.college-->
 
<div class="description-post">
  <div class="list-header">Description</div>
  {% if college.description %}
    <div id="add-description">
      <div class="college-description">{{ college.description|linebreaksbr }}</div><!-- .college-description ends -->
    </div><!-- #add-description ends -->
    
  {% else %}
    <div id="add-description">
      <div class="college-description">Write a <a href="/settings/college/{{ college.slug}}">description</a> about the college.</div><!-- #add-description ends -->
      </div><!-- .college-description ends -->
  {% endif %}
</div><!-- .description-post ends -->
    
</div><!-- .college-left-pane ends -->
  <div class="college-right-pane">

    <div class="college-right-pane2">
      <div class="list-header">
        Fest Trends
      </div>
      {% for fest in trends%}
        <div class="trend">
          <a href="{{ fest.get_absolute_url }}" class="trend-fest" title="{{ fest.name }}"><img class="trend-image" src="/site-media/{{ fest.thumbnail2 }}" /></a>
          <a href="{{ fest.get_absolute_url }}" class="trend-fest">{{ fest.name }}</a>
          <a href="{{ fest.college.get_absolute_url }}" class="trend-college">{{ fest.college.name }}</a>
        </div>
      {% endfor %}
    </div><!-- .home-right-pane2 ends -->
    
    <div class="college-right-pane2">
    <div class="list-header">Fests happening at {{ college.name }}</div>
    {% for fest in fests %}
    <div class="college-fest-list-fest">
    {% if user.is_authenticated %}
      {% if fest.pk in fest_followings %}  
        <a href="/#" fid="{{ fest.id }}" class="u-fest-unfollow">Unfollow</a>
      {% else %}
        <a href="/#" fid="{{ fest.id }}" class="u-fest-follow">Follow</a> 
      {% endif %}
    {% endif %}
      <img class="fest-image" src="/site-media/{{ fest.thumbnail }}" width="42" height="42" /> 
        <a href="{{ fest.get_absolute_url }}" class="fest-name-small">{{ fest.name }}</a>
        <a href="{% url 'fest_followers' fest.slug %}" class="college-fest-list-followers-count" title="Followers">{{ fest.festfollowing_set.count }}</a>
    </div><!-- .college-fest-list-fest ends -->
    {% endfor %}
  </div><!-- .college-right-pane2 ends -->



  </div><!-- .college-right-pane ends -->
</div><!-- .college-container ends -->
{% endblock %}
