{% load endless %}
{% load fest_extras %}
{% lazy_paginate comments %}

{% for comment in comments %}
    <img class="fest-image" src="/site-media/{{ comment.user.person.thumbnail2 }}" />
    <a href="/{{ comment.user.username }}/" class="first_name">{{ comment.user.first_name }}</a><br /> 
    <div class="u-timestamp" title="{{ comment.pub_date }}" >{{ comment.pub_date|get_date_string }}</div><!-- .u-timestamp -->
    <div class="fest-content-event-content-comment"> 
        {{ comment.content|linebreaksbr }}
    </div><!-- .fest-content-event-content ends -->
{% endfor %}

{% show_more %}