{% extends "base.html" %}
{% block title %}

    {% if event.description %}
      {{ event.description|slice:"30" }}...
    {% else %} 
      No title
    {% endif %}
{% endblock %}
{% block content %}
 {% load fest_extras %}
 <div class="event-separate-post">
<div class="event-container">
  <div class="fest-content">
  <div class="fest-content-event">
      <img class="fest-image" src="/site-media/{{ event.fest.thumbnail2 }}" />
    <a href="{{ event.fest.get_absolute_url }}" class="event-username">{{ event.fest.name }}</a>
    <div class="u-timestamp" title="{{ event.pub_date }}"><i class="fi-clock size-14"></i> {{ event.pub_date|get_date_string }}</div><!-- .u-timestamp --> 
    <div class="fest-content-event-content">
      {% with photos=event.photo_set.all %}
      {% if photos %}
        <div class="fest-content-event-content-title">
          <div class="photo-count">{{ event.photo_set.count }} <i class="fi-photo size-10"></i></div>
        </div><!-- .fest-content-event-content-title ends -->
      {% endif %}
        {% if event.description %}
          {{ event.description|linebreaksbr }}<br>
        {% endif %}
        
        {% if photos|length > 1 %}
          {% for photo in photos|slice:"2" %}
            <a href="/site-media/{{ photo.image }}" title="{{ photo.title }}" class="album-group"><img class="fest-content-event-content-photothumb" src="/site-media/{{ photo.thumbnail }}" /></a>
          {% endfor %}
          {% for photo in photos|slice:"2:" %}
              <a href="/site-media/{{ photo.image }}" title="{{ photo.title }}" class="album-group" style="display: none;"></a>
            {% endfor %}
        {% else %}
          {% for photo in photos|slice:"1" %}
            <a href="/site-media/{{ photo.image }}" class="album-group"><img class="fest-content-event-content-photo" src="/site-media/{{ photo.thumbnail2 }}" /></a>
          {% endfor %}
        {% endif %}
        {% endwith %}
    </div><!-- .fest-content-event-content ends -->
    <div class="ld-container2">
      <i class="fi-comments size-18 comment-count"></i><div class="u-comments"> {{ comments.count }} </div>
      {% with upvotes=event.upvote_set.count %}
      {% if upvoted %}
        <a href="/#" eventi="{{ event.id }}" class="u-liked"><i class="fi-like size-18"></i></a>
        <div class="u-upvotes"> {{ upvotes }} </div>
      {% else %}
        <a href="/#" eventi="{{ event.id }}" class="u-like"><i class="fi-like size-18"></i></a>
        <div class="u-upvotes"> {{ upvotes }} </div>
      {% endif %}
      {% with downvotes=event.downvote_set.count %}
      {% if downvoted %}
        <a href="/#" eventi="{{ event.id }}" class="u-disliked"><i class="fi-dislike size-18"></i></a>
        <div class="u-downvotes"> {{ downvotes }} </div>
      {% else %}
        <a href="/#" eventi="{{ event.id }}" class="u-dislike"><i class="fi-dislike size-18"></i></a>
        <div class="u-downvotes"> {{ downvotes }} </div> 
      {% endif %}
      
      
      
      
      
    </div>
    <div class="countbar">
      <div class="countbar-like"></div>
      <div class="countbar-dislike"></div>
      <div class="ups">{{ upvotes }}</div><!-- .ups ends -->
      <div class="downs">{{ downvotes }}</div><!-- .downs ends -->
      {% endwith %}
      {% endwith %}
    </div>
    {% if user.is_authenticated %}
    <div class="fest-content-event-comment-post">
      <img class="fest-image" src="/site-media/{{ user.person.thumbnail2 }}" />
      <form method="post">
        {% csrf_token %}
        <textarea class="comment-post-content" name="comment-post-content" cols="55" rows="1" placeholder="Add a comment..."></textarea>
        <input type="hidden" class="event-id" value="{{ event.id }}">
        <input type="submit" class="u-post-button" value="Post comment" />
      </form>

    </div><!-- .fest-content-event-comment-post --> 
    {% endif %}         
      <div class="fest-content-event-comment">
        <div class="latest-comment"></div>
        {% include page_template %}
      </div><!-- .fest-content-event-comment ends -->  
  </div><!-- .fest-content-event-->
  </div><!-- .fest-content ends -->

  {% endblock %}
</div><!-- .event-container ends -->
</div>