
<script>
$(document).ready(function () {

    $('.fest-close-font').click(function(){
      $("#add_fest_dialog").dialog("close");
    });

    $("#college_input").autocomplete({
        source: "/ajax/college/autocomplete/",
        minLength: 3,
    });

    $("#fest_input").autocomplete({
        source: "/ajax/fest/autocomplete/",
        minLength: 3,
    });


});
</script>
<style>
.fest-close-font{
  float: right;
  display: inline-block;
  margin: 5px 10px 0 0;
}

.fest-close-font:hover{
  color: #AF4839;
}
</style>
<i class="fest-close-font fi-x size-16"></i>
<form method="post" action="/save/" id="fest-save-form" onSubmit="if (this.college_name.value == '' || this.name.value == '') {return false;}">
{% csrf_token %}
  {{ form.name }}<br>
  {{ form.college_name }}<br>
  <input type="submit" class="button" value="Add a fest" />
</form>
