{% extends "base.html" %}
{% block title %}{{ fest.name }} - {{ fest.college.name|title }}{% endblock %}
{% block content %}
<div class="preloader2">
  <img src="/site-media/static/images/preloader.gif" alt="Loading..." />
</div>
{% with edit=editable %}
<div id="remove-post"></div>
<div class="fest-container">
<div class="fest-left-pane">
<input type="hidden" name="fest-id" value="{{ fest.id }}">
{% csrf_token %}
{% if edit %} 
<div id="edit-picture-dialog">
  <div class="dialog-title">Edit Fest Photo</div><!-- .dialog-title ends -->
  <img class="dialog-image-thumb" width="70" height="70" src="/site-media/{{ fest.thumbnail }}" />
  Upload New Photo
  <input id="edit_fest_image" name="image" type="file" />
  <div id="dp" class="preloader1">
      <img src="/site-media/static/images/preloader.gif" alt="Loading..." />
  </div>
  <br>
  <a id="close-dialog" href="#">Close</a>
</div><!-- #edit-picture-dialog ends -->
<div class="fest">
  <div class="fest-left">
  <div class="viewp">
    <a href="#" id="edit-picture">
        <span class="dark-background">Edit Photo</span>
    </a>
    <img id="fest-image" src="/site-media/{{ fest.image }}" width="250" height="193" />
  </div><!-- .viewp ends -->

{% else %}
  <div class="fest">
    <div class="fest-left">
  <img id="fest-image" src="/site-media/{{ fest.image }}" width="250" height="193" />
{% endif %}
</div><!-- .fest-left ends -->


<div class="fest-right">

  {% if follows %}
    <a href="/#" fid = "{{ fest.id }}" id="follow-fest" class="u-unfollow">Unfollow</a>
  {% else %}
    <a href="/#" fid = "{{ fest.id }}" id="follow-fest" class="u-follow">Follow</a>
  {% endif %}
  <a href="{% url 'fest_followers' fest.slug %}"><div class="fest-followings">
    <div class="fest-followings-count">{{ fest.festfollowing_set.count }}</div><!-- .fest-followings-count ends -->
    <i class="fi-torsos-all-female size-14"></i>
  </div><!-- .fest-followings ends --></a>
</div><!-- .fest-right ends -->

   
  <div class="fest-name">{{ fest.name }}</div><!-- .fest-name ends -->
  <a href="{{ fest.college.get_absolute_url }}" class="fest-college-name">{{ fest.college.name|title }}</a><!-- .fest-college-name ends -->
  <div class="fest-website"><a href="{{ fest.website }}">{{ fest.website }}</a></div><!-- .fest-website ends -->
  <div class="fest-date">{{ fest.date }}</div><!-- .cfest-date ends -->
  
</div><!--.fest ends-->

<div class="fest-left-2">
  {% if edit %} 
  <div class="fest-content-post">
    <img class="fest-image" src="/site-media/{{ fest.thumbnail }}" width="42" height="42" />
    <div class="status-update">
      <form id="update" method="post">
        {% csrf_token %}
        <input type="hidden" id="fest-id" value="{{ fest.id }}" />
        <textarea id="event-description" cols="65" rows="1" name="description" placeholder="What's happening..."></textarea>
        <div id="thumbnail-container">
        </div>
        <div id="add-post-bar">
          <div class="pic-upload" title="Create an album. You can add a max of 10 photos in an album.">
            <a href="/#" class="pic-upload-a" ><i class="step fi-camera size-24"></i></a>
            <input type="file" id="album-upload" fid="{{ fest.id }}"/>
          </div><!-- .pic-upload ends-->
          <input type="submit" id="event-post-button" value="Add Update" />
        </div>
      </form>
    </div><!-- .status-update ends-->
   
  </div><!-- .fest-content-post ends-->
  {% endif %}
  <div id="events-content">
  <div id="sort-events">
    <a href="?gis=hnt">Top Stories</a>  
    <a href="?gis=lef">Most Recent</a>
  </div>
  <div class="latest-event"></div>
  
    
    {% include page_template %}
 
</div><!-- .fest-left ends -->

  <div class="fest-right-pane">
    <div class="fest-right-pane2">
      <div class="list-header">
        Fest Trends
      </div>
      {% for fest in trends%}
        <div class="trend">
          <a href="{{ fest.get_absolute_url }}" class="trend-fest" title="{{ fest.name }}"><img class="trend-image" src="/site-media/{{ fest.thumbnail2 }}" /></a>
          <a href="{{ fest.get_absolute_url }}" class="trend-fest">{{ fest.name }}</a>
          <a href="{{ fest.college.get_absolute_url }}" class="trend-college">{{ fest.college.name }}</a>
        </div>
      {% endfor %}
    </div><!-- .home-right-pane2 ends -->
    

  {% if fest.description %}
  <div class="fest-right-pane2">
  <div class="list-header">Description</div>
    <div id="add-description">
      <div class="college-description">{{ fest.description|linebreaksbr }}</div><!-- .college-description ends -->
    </div><!-- #add-description ends -->
    </div><!-- .fest-right-pane2 ends -->
  {% else %}
   {% if edit %}
   <div class="fest-right-pane2">
   <div class="list-header">Description</div>
    <div id="add-description">
      <div class="college-description">Write a <a href="/settings/fest/{{ fest.slug }}/">description</a> about the fest.</div><!-- #add-description ends -->
      </div><!-- .college-description ends -->
      </div><!-- .fest-right-pane2 ends -->
    {% endif %}
  {% endif %}

    
</div><!-- .fest-container ends -->
{% endwith %}
{% endblock %}
