
{% load endless %}
{% load fest_extras %}
{% lazy_paginate events %}
{% for event in events %}  
  <div class="fest-content">

  <div class="fest-content-event">
    {% if edit %} 
      <a href="#" class="delete-post" eid="{{ event.id }}" title="Delete the post."><i class="fi-x size-10"></i></a>
    {% endif %} 
      <img class="fest-image" src="/site-media/{{ event.fest.thumbnail2 }}"/>
    <a href="{{ event.fest.get_absolute_url }}" class="event-username">{{ event.fest.name }}</a>
    
      <div class="u-timestamp" title="{{ event.pub_date }}"><a href="{% url 'event_page' event.fest.slug event.id %}"><i class="fi-clock size-14"></i>  {{ event.pub_date|get_date_string }}</a>
</div><!-- .u-timestamp --> 
        
    <div class="fest-content-event-content">
       {% with photos=event.photo_set.all %}
       {% if photos %}
        <div class="fest-content-event-content-title">
          <div class="photo-count">{{ event.photo_set.count }} <i class="fi-photo size-14"></i> </div>
        </div><!-- .fest-content-event-content-title ends -->
        {% endif %}
        {% if event.description %}
          {{ event.description|linebreaksbr }}<br>
        {% endif %}
       
          {% if photos|length > 1 %}
            {% for photo in photos|slice:"2" %}
              <a href="/site-media/{{ photo.image }}" title="{{ photo.title }}" class="event-album album-group-{{event.id}}" ><img class="fest-content-event-content-photothumb" src="/site-media/{{ photo.thumbnail }}" /></a>
            {% endfor %}
            {% for photo in photos|slice:"2:" %}
              <a href="/site-media/{{ photo.image }}" title="{{ photo.title }}" class="event-album album-group-{{event.id}}" style="display: none;"></a>
            {% endfor %}
          {% else %}
            {% for photo in photos|slice:"1" %}
              <a href="/site-media/{{ photo.image }}" class="event-album album-group-{{event.id}}" ><img class="fest-content-event-content-photo" src="/site-media/{{ photo.thumbnail2 }}" /></a>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div><!-- .fest-content-event-content ends --> 

    <a class="expand" href="/#" eid="{{ event.id }}">Expand</a>
     
    <div class="comment-expand">
    </div><!-- .fest-content-event-comment ends -->  
  </div><!-- .fest-content-event-->
  </div><!-- .fest-content ends -->
{% endfor %}

{% show_more %}
</div>
  </div>