{% extends "base.html" %}
{% block title %}{{ fest.name }} - {{ fest.college.name|title }}{% endblock %}
{% block content %}
<div class="fest-container">
<div class="fest-left-pane">

{% csrf_token %}
{% if editable %} 
<div id="edit-picture-dialog">
  <div class="dialog-title">Edit Profile Photo</div><!-- .dialog-title ends -->
  <img class="dialog-image-thumb" src="/site-media/{{ fest.thumbnail }}" />
  Upload New Photo
  <input id="edit_fest_image" name="image" type="file" />
  <br>
  <a id="close-dialog" href="#">Close</a>
</div><!-- #edit-picture-dialog ends -->
<div class="fest">
  <div class="fest-left">
  <div class="viewp">
    <a href="#" id="edit-picture">
        <span class="dark-background">Edit Photo</span>
    </a>
    <img id="fest-image" src="/site-media/{{ fest.image }}" width="250" height="193" />
  </div><!-- .viewp ends -->

{% else %}
  <div class="fest">
    <div class="fest-left">
  <img id="fest-image" src="/site-media/{{ fest.image }}" width="250" height="193" />
{% endif %}
</div><!-- .fest-left ends -->

{% if user.is_authenticated %}
<div class="fest-right">

  {% if follows %}
    <a href="/#" fid = "{{ fest.id }}" id="follow-fest" class="u-unfollow">Unfollow</a>
  {% else %}
    <a href="/#" fid = "{{ fest.id }}" id="follow-fest" class="u-follow">Follow</a>
  {% endif %}
  <a href=""{% url 'fest_followers' fest.slug %}""><div class="fest-followings">
    <div class="fest-followings-count">{{ fest.festfollowing_set.count }}</div><!-- .fest-followings-count ends -->
    <i class="fi-torsos-all-female size-14"></i>
  </div><!-- .fest-followings ends --></a>
</div><!-- .fest-right ends -->
{% endif %}

   
  <a href="{{ fest.get_absolute_url }}"><div class="fest-name">{{ fest.name }}</div><!-- .fest-name ends --></a>
  <a href="{{ fest.college.get_absolute_url }}" class="fest-college-name">{{ fest.college.name|title }}</a><!-- .fest-college-name ends -->
  <div class="fest-website"><a href="{{ fest.website }}">{{ fest.website }}</a></div><!-- .fest-website ends -->
  <div class="fest-date">{{ fest.date }}</div><!-- .cfest-date ends -->
  
</div><!--.fest ends-->


<div class="fest-left-2">
  <div class="list-header">Followers - {{ fest_followers.count }}</div>
  {% include page_template %}
  
</div><!-- .fest-left-2 ends -->

</div><!-- .fest-left-pane ends -->
  <div class="fest-right-pane">
    <div class="fest-right-pane2">
  
  {% if fest.description %}
  <div class="list-header">Description</div>
    <div id="add-description">
      <div class="college-description">{{ fest.description|linebreaksbr }}</div><!-- .college-description ends -->
    </div><!-- #add-description ends -->
  {% else %}
   {% if editable %}
   <div class="list-header">Description</div>
    <div id="add-description">
      <div class="college-description">Write a <a href="/settings/fest/{{ fest.slug }}/">description</a> about the fest.</div><!-- #add-description ends -->
      </div><!-- .college-description ends -->
    {% endif %}
  {% endif %}
    </div><!-- .fest-right-pane2 ends -->
  </div><!-- .fest-right-pane ends -->
</div><!-- .fest-container ends -->
{% endblock %}
