{% load endless %}

{% lazy_paginate 9 fest_followers %}

<div id="events-content">

    {% for follower in fest_followers %}
    <div class="follower-container2">
        <a href="/{{ follower.user.username }}/"><img src="/site-media/{{ follower.user.person.thumbnail2 }}/" /></a>
        <div class="follower-name2">
        	<a href="/{{ follower.user.username }}/" >{{ follower.user.first_name }} {{ follower.user.last_name }}</a>
        </div><!-- .follower-name2 ends -->	
    </div><!-- .following-container ends -->
    {% endfor %}
</div>
{% show_more %}