{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% load fest_extras %}
{% if user %}

        <div class="home-container">
        <div class="home-left-pane">

          <div class="home-left-2">
            <div class="home-page-content">
              {% csrf_token %}
              {% include page_template %}
              
          </div><!-- .home-page-content ends -->
            </div><!-- .home-left-2 ends -->
            
            </div><!-- .home-left-pane-->
          <div class="home-right-pane">
            <div class="home-right-pane2">
              <div class="list-header">Fest Trends</div><br>
              {% for fest in fests%}
                <div class="trend">
                  <a href="{{ fest.get_absolute_url }}" class="trend-fest" title="{{ fest.name }}"><img class="trend-image" src="/site-media/{{ fest.thumbnail2 }}" /></a>
                  <a href="{{ fest.get_absolute_url }}" class="trend-fest">{{ fest.name }}</a>
                  <a href="{{ fest.college.get_absolute_url }}" class="trend-college">{{ fest.college.name }}</a></div>
              {% endfor %}
            </div><!-- .home-right-pane2 ends -->
          </div><!-- .home-right-pane ends -->
            
        {% else %}
          <p>Welcome anonymous user! You need to <a href="/login/">login</a> before..</p>
        
        </div><!-- .home-container ends -->
  {% endif %}
{% endblock %}

