{% extends "user.html" %}
{% block title %}{{ name.first_name }} {{ name.last_name }}{% endblock %}
{% block user %}
<div class="user-left-2">
    <div class="user-page-content">
  {% include page_template %}
</div><!-- .user-page-content ends -->
  </div><!-- .user-left-2 ends -->
{% endblock %}

{% block right-pane %}
<div class="user-right-pane2">
        <div class="list-header">Followings</div>
        <div class="followings-pane">
          <a href="{% url 'user_followers' name %}" class="followings-pane-content">Followers <span>{{ followers.count }}</span>
          </a>
          <div class="following-thumbs">
            {% for follower in followers|slice:"6" %}
              <a href="/{{ follower.user }}/"><img height="25" width="25" title="{{ follower.user.first_name }}" src="/site-media/{{ follower.user.person.thumbnail2 }}/" /></a>
            {% endfor %}
          </div><!-- .following-thumbs ends -->
          <a href="{% url 'user_following' name %}" class="followings-pane-content">Following <span>{{ followings.count }}</span>
          </a>
          <div class="following-thumbs">
            {% for following in followings|slice:"6" %}
              <a href="/{{ following.user }}/"><img height="25" width="25" title="{{ following.user.first_name }}" src="/site-media/{{ following.user.person.thumbnail2 }}/" /></a>
            {% endfor %}
          </div><!-- .following-thumbs ends -->
          <a href="{% url 'user_college_following' name %}" class="followings-pane-content">
            College Following <span>{{ college_followings.count }}</span>
          </a>
          <div class="following-thumbs">
            {% for college_following in college_followings|slice:"6" %}
              <a href="{{ college_following.follows.get_absolute_url}}"><img title="{{ college_following.follows.name }}" height="25" width="25" src="/site-media/{{ college_following.follows.thumbnail2 }}/" /></a>
            {% endfor %}
          </div><!-- .following-thumbs ends -->
          <a href="{% url 'user_fest_following' name %}" class="followings-pane-content">
            Fest Following <span>{{ fest_followings.count }}</span> 
          </a>
          <div class="following-thumbs">
            {% for fest_following in fest_followings|slice:"6" %}
              <a href="{{ fest_following.follows.get_absolute_url}}"><img title="{{ fest_following.follows.name }}" height="25" width="25" src="/site-media/{{ fest_following.follows.thumbnail2 }}/" /></a>
            {% endfor %}
          </div><!-- .following-thumbs ends -->
          </div><!-- .followings-pane ends -->
    </div><!-- .user-right-pane2 ends -->

    <div class="user-right-pane2">
        <div class="list-header">Fest Trends</div>
        {% for fest in trends%}
        <div class="trend">
          <a href="{{ fest.get_absolute_url }}" class="trend-fest" title="{{ fest.name }}"><img class="trend-image" src="/site-media/{{ fest.thumbnail2 }}" /></a>
          <a href="{{ fest.get_absolute_url }}" class="trend-fest">{{ fest.name }}</a>
          <a href="{{ fest.college.get_absolute_url }}" class="trend-college">{{ fest.college.name }}</a>
        </div>
      {% endfor %}
    </div><!-- .user-right-pane2 ends -->
{% endblock %}
 