{% extends "user.html" %}
{% block title %}{{ name.first_name }} {{ name.last_name }} - College Following{% endblock %}
{% block user %}
<div class="user-follower-left-2">
    <div class="user-page-content">
      <div class="follower-heading">
        <div class="list-header">College Following - {{ college_followings.count }} </div>
      </div><!-- .follower-heading ends -->
      {% include page_template %}
</div><!-- .user-page-content ends -->
  </div><!-- .user-left-2 ends -->
{% endblock %}

{% block right-pane %}
<div class="user-follower-right-pane2">
        <div class="list-header">Followings</div>
        <div class="followings-pane">
          <a href="{% url 'user_followers' name %}" class="followings-pane-content">
            Followers <span>{{ followers.count }}</span>
          </a>
          <a href="{% url 'user_following' name %}" class="followings-pane-content">
            Following <span>{{ followings.count }}</span>
          </a>
          <a href="{% url 'user_college_following' name %}" class="followings-pane-content">
            College Following <span>{{ college_followings.count }}</span> 
          </a>
          <a href="{% url 'user_fest_following' name %}" class="followings-pane-content">
            Fest Following <span>{{ fest_followings.count }}</span> 
          </a>
          </div><!-- .followings-pane ends -->
    </div><!-- .user-right-pane2 ends -->

<div class="user-follower-right-pane2">
        <div class="list-header">
        Fest Trends
      </div>
      {% for fest in trends%}
        <div class="trend">
          <a href="{{ fest.get_absolute_url }}" class="trend-fest" title="{{ fest.name }}"><img class="trend-image" src="/site-media/{{ fest.thumbnail2 }}" /></a>
          <a href="{{ fest.get_absolute_url }}" class="trend-fest">{{ fest.name }}</a>
          <a href="{{ fest.college.get_absolute_url }}" class="trend-college">{{ fest.college.name }}</a>
        </div>
      {% endfor %}
    </div><!-- .user-right-pane2 ends -->
{% endblock %}
 