{% load endless %}

{% lazy_paginate 9 followers %}
{% for follower in followers %}
	<div class="follower-container">
        <a href="/{{ follower.user }}/"><img src="/site-media/{{ follower.user.person.thumbnail2 }}/" /></a>
        <div class="follower-name">
        	<a href="/{{ follower.user }}/" >{{ follower.user.first_name }} {{ follower.user.last_name }}</a>
        </div><!-- .follower-name ends -->
    </div><!-- .follower-container ends -->
    {% endfor %}

{% show_more %}