{% load endless %}

{% lazy_paginate 9 followings %}
{% for following in followings %}
	<div class="follower-container">
        <a href="/{{ following.user }}/"><img src="/site-media/{{ following.user.person.thumbnail2 }}/" /></a>
        <div class="follower-name">
        	<a href="/{{ following.user }}/" >{{ following.user.first_name }} {{ following.user.last_name }}</a>
        </div><!-- .following-name ends -->
    </div><!-- .following-container ends -->
    {% endfor %}

{% show_more %}