{% load endless %}

{% lazy_paginate 9 college_followings %}
{% for following in college_followings %}
	<div class="follower-container">
        <a href="{{ following.follows.get_absolute_url }}"><img src="/site-media/{{ following.follows.thumbnail2 }}/" /></a>
        <div class="follower-name">
        	<a href="{{ following.follows.get_absolute_url }}" >{{ following.follows.name }}</a>
        </div><!-- .following-name ends -->
    </div><!-- .following-container ends -->
    {% endfor %}

{% show_more %}