{% extends "base.html" %}
{% block content %}
{% csrf_token %}
<div class="user-container">
<div class="user-left-pane">
{% if editable %} 
<div id="edit-picture-dialog">
  <div class="dialog-title">Edit Profile Photo</div><!-- .dialog-title ends -->
  <img class="dialog-image-thumb" src="/site-media/{{ name.person.thumbnail }}" width="70" height="70" />
  {% csrf_token %}
  Upload New Photo
  <input id="edit_user_image" name="image" type="file" />
  <div id="dp" class="preloader1">
      <img src="/site-media/static/images/preloader.gif" alt="Loading..." />
  </div>
  <br>
  <a id="close-dialog" href="#">Close</a>
</div><!-- #edit-picture-dialog ends -->
<div class="user">
  <div class="fest-left">
  <div class="viewp">
    <a href="#" id="edit-picture">
        <span class="dark-background">Edit Photo</span>
    </a>
    <img id="user-page-image" src="/site-media/{{ name.person.image }}" width="250" height="193" />
  </div><!-- .viewport ends -->
{% else %}
  <div class="user">
    <div class="fest-left">
  <img src="/site-media/{{ name.person.image }}" width="250" height="193" />
{% endif %}
</div><!-- .fest-left ends -->
  {% if user.is_authenticated %}
    {% if not editable %}
      {% if follows %}
        <a href="/#" uid="{{ name.id }}" id="follow-user" class="u-unfollow">Unfollow</a> 
      {% else %}
        <a href="/#" uid="{{ name.id }}" id="follow-user" class="u-follow">Follow</a>
      {% endif %}
    {% endif %}
    {% endif %}
    <div class="user-username">{{ name.first_name }} {{ name.last_name }}</div><!-- .user-username ends -->
    {%  if name.person.education %}
      <div class="user-description">Student at {{ name.person.education }}</div><!-- .user-description ends -->
    {% endif %}
    {% if name.person.bio %}
      <div id="add-description-user">
        <div class="college-description">{{ name.person.bio }}</div><!-- .college-description ends -->
      </div><!-- #add-description ends -->
    {% endif %}
  
  </div><!-- .user ends -->

  
  
  {% block user %}

  {% endblock %}
  
  </div><!-- .user-left-pane ends -->
  <div class="user-right-pane">
    {% block right-pane %}

    {% endblock %}
    

  </div><!-- .user-right-pane ends -->
</div><!-- .user-container ends -->
{% endblock %}
