.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
      
.size-16 { font-size: 16px; }
      
.size-18 { font-size: 18px; }
      
.size-21 { font-size: 21px; }
      
.size-24 { font-size: 24px; }
      
.size-36 { font-size: 36px; }
      
.size-48 { font-size: 48px; }
      
.size-60 { font-size: 60px; }
      
.size-72 { font-size: 72px; }

.social {
    display: inline-block;
    width: 10%;
    margin: 0 0 0 10px;
    background:  #FFF;
    padding: 7px 0 12px 10px;
    color: #C4C9CC;
}

#id_remember_me{
	margin: 0px;
	width: 12px;
	float: left;
}

input[type="checkbox"]:focus{
	border:none;
	box-shadow: none;
}

#remember-label{
	font-size: 12px;
	font-weight: normal;
	color: #999;
	margin: 0 0 0 5px;
}

.notif{
	border-radius: 3px;
	font-size: 12px;
	text-align: center;
	border: solid thin #EFE0B6;
	background: #f7e8bc; 
	font-weight: bold;
	margin: 10px 0; 
	padding: 5px;
}



body {
	margin: 0;
	padding: 0;
	min-width: 1140px;
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 18px;
	line-height: 1.72222;
	background:#303030 url(images/background.jpg) no-repeat;
}
h1 {
	font-size: 12pt;
	color: #538dc2;
	border-bottom: solid thin #ccc;
}

p {
	color: #999;
	font-size: 12px;
	margin: -2px 0 15px 15px;
}

input{
  font-family: "Helvetica Neue",Arial,sans-serif;
  outline: none;;
  border: 1px solid #DDDDDD;
}

input:focus{
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  	border: 1px solid rgba(81, 203, 238, 1);
}

.header-right-container input {
	margin: 10px 0px 5px 010px;
	height: 22px;
	width: 250px;
	font-size: 14px;
	padding-left: 2px;
	border-radius: 3px;
	color: #555;
}

.header-right-container label {
    color: #303030;
    font-size: 15px;
    font-weight: bold;
}

.header-bar{
	position: fixed;
	top: 0;
	background-color: #1E1E1E;
	width: 100%;
	z-index: 2000;
	height: 80px;
	border-bottom: 1px solid rgba(0,0,0,0.15);
}

.header-right-container {
    width: 350px;
    background: #fff;
    margin: 100px auto 0 auto;
    -webkit-box-shadow: 0 0 125px rgba(255,255,255,.35);
    box-shadow: 0 0 125px rgba(255,255,255,.35);
    -moz-box-shadow:0 0 125px rgba(255,255,255,.35);
    border-radius: 3px;
    padding: 1px 15px 15px 15px;
}

.header-bar-logo{
	margin: 25px 0 0 100px;
}

.main-block{
	background: white;
	width: 557px;
	margin: 10% auto 0 auto;
	padding: 5px 15px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 125px rgba(255,255,255,.35);
    box-shadow: 0 0 125px rgba(255,255,255,.35);
    -moz-box-shadow:0 0 125px rgba(255,255,255,.35);
}

span a{
	font-size: 13px;
}

.main-block p{
	margin: 0;
	font-size: 10pt;
	color: #333;
}

.main-block form{
	margin: 10px 0 40px 0;
}

.main-block form input{
	margin: 10px 10px 5px 20px;
	height: 20px;
	width: 276px;
	border-style: none;
	border:solid thin #ccc;;
	-webkit-appearance: none;
	font-size: 12px;
	padding:3px;
	display: inline-block;
	border-radius: 3px;
	color: #555;
}

.submit-button{
	color: #FFF;
	font-weight: bold;
	border: thin solid #53A93F;
	padding: 5px 10px 5px 10px;
	margin:20px 0 5px 0px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid thin #CCC;
	background: rgb(27,84,128); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: #1b5480;
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2878b8), to(#24659c));
    background-image: -webkit-linear-gradient(#2878b8, #24659c);
    background-image: -moz-linear-gradient(#2878b8, #24659c);
    background-image: -o-linear-gradient(#2878b8, #24659c);
    background-image: linear-gradient(#2878b8, #24659c);
    text-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.submit-button:hover{
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#24659c), to(#1b5480));
    background-image: -webkit-linear-gradient(#24659c, #1b5480);
    background-image: -moz-linear-gradient(#24659c, #1b5480);
    background-image: -o-linear-gradient(#24659c, #1b5480);
    background-image: linear-gradient(#24659c, #1b5480);
}

.errorlist{
	background: #f7e8bc;
	font-size: 12px;
	border-radius: 3px;
	border: solid thin #EFE0B6;
	margin: 10px 0;
	padding: 3px;
	width: 337px;
	list-style: none;
	text-align: center;
	font-weight: bold;
}

#id_new_password1{
	margin: 0 0 0 95px;
}



.header-right-container .login-button{
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
	width: 60px;
	height: 25px;
	float: right;
	margin: -10px 6px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid thin #172F57;
	background: rgb(27,84,128); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: #1b5480;
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2878b8), to(#24659c));
    background-image: -webkit-linear-gradient(#2878b8, #24659c);
    background-image: -moz-linear-gradient(#2878b8, #24659c);
    background-image: -o-linear-gradient(#2878b8, #24659c);
    background-image: linear-gradient(#2878b8, #24659c);
    text-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.header-right-container .login-button:hover{
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#24659c), to(#1b5480));
    background-image: -webkit-linear-gradient(#24659c, #1b5480);
    background-image: -moz-linear-gradient(#24659c, #1b5480);
    background-image: -o-linear-gradient(#24659c, #1b5480);
    background-image: linear-gradient(#24659c, #1b5480);
}

.header-right-container a{
	color: #538dc2;
	text-decoration: none;
}

.header-right-container p{
	color: #999;
	margin: 30px 0 0 0;
}

.header-right-container .forgot{
	margin: 0 0;
}

.header-right-container a:hover{
	text-decoration: underline;
}

#formdiv{
	width: 425px;
    background: #fff;
    margin: 60px auto 0 auto;
    -webkit-box-shadow: 0 0 125px rgba(255,255,255,.35);
    box-shadow: 0 0 125px rgba(255,255,255,.35);
    -moz-box-shadow:0 0 125px rgba(255,255,255,.35);
    border-radius: 3px;
    padding: 1px 15px 15px 15px;
}

#formdiv input {
	margin: 10px 0px 5px 010px;
	height: 22px;
	font-size: 13px;
	padding-left: 5px;
	border-radius: 3px;
	color: #555;
}

#first-input, #last-input, #password1-input, #password2-input{
	width: 187px;
}

#username-input, #email-input{
	display: block;
	width: 396px;
}

#twitter{
	background-color: #3293D8;
	width: 79%;
	margin: 0 0 15px 0;
}

#facebook{
	background-color: #2A7BB3;
	width: 79%;
	margin: 0 0 15px 0;
}

#google{
	background-color: #BC382B;
	width: 79%;
	margin: 0 0 5px 0;
}

.fb-back {
    background-color: #2A7BB3;
}

.g-back {
    background-color: #BC382B;
}

.t-back {
    background-color: #3293D8;
}

#formdiv #register-submit{
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
	width: 406px;
	height: 30px;
	margin: 10px 6px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid thin #172F57;
	background: rgb(27,84,128); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: #1b5480;
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2878b8), to(#24659c));
    background-image: -webkit-linear-gradient(#2878b8, #24659c);
    background-image: -moz-linear-gradient(#2878b8, #24659c);
    background-image: -o-linear-gradient(#2878b8, #24659c);
    background-image: linear-gradient(#2878b8, #24659c);
    text-shadow: 0 1px 3px rgba(0,0,0,.2);
    color: #fff;
}

#formdiv #register-submit:hover{
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#24659c), to(#1b5480));
    background-image: -webkit-linear-gradient(#24659c, #1b5480);
    background-image: -moz-linear-gradient(#24659c, #1b5480);
    background-image: -o-linear-gradient(#24659c, #1b5480);
    background-image: linear-gradient(#24659c, #1b5480);
}


.help-text{
	color: #999999;
	font-size: 12px;
	text-align: center;
}

