
/* -----fonts ------*/
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
      
.size-16 { font-size: 16px; }
      
.size-18 { font-size: 18px; }
      
.size-21 { font-size: 21px; }
      
.size-24 { font-size: 24px; }
      
.size-36 { font-size: 36px; }
      
.size-48 { font-size: 48px; }
      
.size-60 { font-size: 60px; }
      
.size-72 { font-size: 72px; }

.step {
    display: inline-block;
    width: 10%;
}

.magnifying-glass-search{
	background: #FFF;
	margin: 0 0 0 50px;

}


/* -----end ------*/
.preloader{
  display: inline-block;
  float: left;
  margin: 0 0 0 150px;
  position: fixed;
  opacity: 0.6;
  background: #000;
  padding: 14px 14px 5px 14px;
  border-radius: 5px;
}

.preloader2{
  display: inline-block;
  float: left;
  margin: 0 0 0 120px;
  position: fixed;
  opacity: 0.6;
  background: #000;
  padding: 14px 14px 5px 14px;
  border-radius: 5px;
}

.preloader1{
  opacity: 0.6;
  background: #000;
  padding: 10px 10px 3px 10px;
  border-radius: 5px;
  display: inline-block;
}

#albump{
  position: absolute;
  top: 45%;
  left: 50%;
  margin: 0px;
}

/* -----User Followers ------*/
.photo-count{
  display: inline-block;
  font-weight: normal;
  color: #99999c;
  font-size: 11px;
}

.follower-container{
	width: 175px;
	display: inline-block;
	margin: 10px 0 15px 10px;
}

.follower-container img{
	float: left;
}

.follower-name{
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 10pt;
}
.follower-name a{
	margin: 0 0 0 10px;
	display: block;
}

.follow-link{
	float: right;
	width: 150px;
	padding-top: 10px;
}


.follower-container2{
	width: 190px;
  height: 30px;
	display: inline-block;
	margin: 10px 0 15px 10px;
}

.follower-container2 img{
	float: left;
}
.follow-link2{
	padding: 10px 0 0 32px;
}

.follower-name2 a{
	margin: 0px 0 0 10px;
	font-size: 10pt;
}


.user-follower-right-pane2{
	background: #FFF;
  padding-bottom: 10px;
  margin: 0 0 25px 0;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

.follower-heading{

}

.user-follower-left-2{
	width:100%;
	margin-top: 15px;
	display: inline-block;
	background: #FFF;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

.follower-follow{
	display: inline-block;
	margin: 0 0 5px 10px;
	padding: 1px 15px;
	color: #333338;
	font-size: 13px;
	font-weight: bold;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid thin #CCC;
	background: rgb(247,247,247); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: #F8F8F8;
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#DEDEDE));
    background-image: -webkit-linear-gradient(#FFF, #DEDEDE);
    background-image: -moz-linear-gradient(#FFF, #DEDEDE);
    background-image: -o-linear-gradient(#FFF, #DEDEDE);
    background-image: linear-gradient(#FFF, #DEDEDE);
    text-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.followers-disabled-button{
  display: inline-block;
  margin: 0 0 5px 10px;
  padding: 1px 15px;
  color: #AAAAAA;
  font-size: 13px;
  font-weight: bold;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid thin #CCC;
  background-color: #EEEEEE;
}


.endless_container{
  text-align: center;
  font-size: 13px;
  border: solid thin #CCCCCC;
  margin: 0 10px 10px 10px;
  background: #E3E7E8;
  color: #888888;
}

.endless_more{
  color: #888888;
}

.followers-disabled-button:hover{
  color: #AAAAAA;
}

.follower-follow:hover{
	text-decoration: none;
	border-color: #BBB;
  	background-color: #F8F8F8;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F8F8F8), to(#D9D9D9));
    background-image: -webkit-linear-gradient(#F8F8F8, #D9D9D9);
    background-image: -moz-linear-gradient(#F8F8F8, #D9D9D9);
    background-image: -o-linear-gradient(#F8F8F8, #D9D9D9);
    background-image: linear-gradient(#F8F8F8, #D9D9D9);
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
  	color: #333338;
}

.follower-unfollow{
	display: inline-block;
	margin: 0 0 5px 10px;
	padding: 1px 6px;
	color: #FFF;
	height: 100%;
	font-size: 13px;
	font-weight: bold;
	background-position: 0px -387px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid thin #057ed0;
	background: rgb(247,247,247); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: #057ed0;
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#31bbee), to(#059dd5));
    background-image: -webkit-linear-gradient(#31bbee, #059dd5);
    background-image: -moz-linear-gradient(#31bbee, #059dd5);
    background-image: -o-linear-gradient(#31bbee, #059dd5);
    background-image: linear-gradient(#31bbee, #059dd5);
    text-shadow: 0 1px 3px rgba(0,0,0,.2);

}

.follower-unfollow:hover{
	border: solid thin #c66717;
	background: rgb(247,247,247); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: #c66717;
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ec5d59), to(#c63d36));
    background-image: -webkit-linear-gradient(#ec5d59, #c63d36);
    background-image: -moz-linear-gradient(#ec5d59, #c63d36);
    background-image: -o-linear-gradient(#ec5d59, #c63d36);
    background-image: linear-gradient(#ec5d59, #c63d36);
    color: #FFF;
}

#sort-events{
  background: #eaeaea;
  font-size: 13px;
  padding: 0 5px;
}

#sort-events a{
  color: #999;
  font-weight: normal;
}

#sort-events a:hover{
  color: #538dc2;
  text-decoration: underline;
}

/* -----end ------*/
/* -----User stream ------*/
.user_stream_heading{
	margin: 0 10px 0 10px;
	display: inline-block;
	color: #99999c;
	font-size: 10pt;
}


.user_stream_heading a{
	color: #99999c;
}
.user_stream_image{
	float: left;
}

.user_stream_content{
	margin: 0 10px 0 42px;
	display: block;
}

.user_stream_date{
	margin: -6px 0 0 42px;
	font-size: 8pt;
  display: table;
}


.user_stream_date a{
  color: #99999c;
  font-weight: normal;
}

.user_stream_date:hover{
	color: #1F7BD3;
}

.expand{
	font-weight: normal;
	margin: 0 0 0 42px;
	font-size: 12px;
	color: #99999c;
}

.collapse{
	font-weight: normal;
	margin: 0 0 0 42px;
	font-size: 12px;
	color: #99999c;
}
/* -----end ------*/
/* -----Header ------*/
.header-container {
	position: fixed;
	top: 0;
	background-color: #1E1E1E;
	width: 100%;
	z-index: 2000;
	height: 42px;
}


#cssmenutop {
  position: absolute;
  right: 10%;
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font: 67.5%;
  font-size: 14px;
  font-weight: bold;
  width: auto;
}

#cssmenutop ul {
  background: #1E1E1E;
  height: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenutop li {
  float: left;
  padding: 0px;
}
#cssmenutop li a {
  background: #1E1E1E;
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 35px;
  margin: 0px;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
}
#cssmenutop > ul > li > a {
  color: #cccccc;
}
#cssmenutop ul ul a {
  color: #cccccc;
}
#cssmenutop li > a:hover,
#cssmenutop ul li:hover > a {
  background: #2580a2;
  color: #FFFFFF;
  text-decoration: none;
}
#cssmenutop li ul {
  background: #1E1E1E;
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 225px;
  z-index: 200;
  /*top:1em;
	/*left:0;*/

}
#cssmenutop li:hover ul {
  display: block;
}
#cssmenutop li li {
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 225px;
}
#cssmenutop li:hover li a {
  background: none;
}
#cssmenutop li ul a {
  display: block;
  height: 35px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}
#cssmenutop li ul a:hover,
#cssmenutop li ul li:hover > a {
  background: #2580a2;
  border: 0px;
  color: #ffffff;
  text-decoration: none;
}
#cssmenutop p {
  clear: left;
}

.logo{
	position: absolute;
    top: 0;
    overflow: hidden;
    right: 79%;
    margin-top: 5px;
}


#header-search-input{
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	font-size: 12px;
	-moz-border-radius: 3px;
	color: #424A61;
	border: none;
	font-size: 14px;
	height: 22px;
	width: 355px;
	position: absolute;
    top: 9px;
    overflow: hidden;
    right: 40%;
    padding-left: 25px;

}

/* ---------------jQuery ui autocomplete------------- */

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-right-width: 2px;
  border-bottom-width: 2px;
 
 .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
 
    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

.ui-autocomplete-loading {
    background: white url('images/loading.gif') right center no-repeat;
}

.ui-autocomplete-input:{
	background: black;
}


.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

/* ---------------End------------- */
/* -----Home Page ------*/
.home-container{
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
	width: 930px;}

.home-right-pane{
	display: inline-block;
	float: right;
	width: 31%;
}

.home-right-pane2{
	background: #FFF;
  padding-bottom: 10px;
  margin: 0 0 25px 0;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

.home-left-pane{
	display: inline-block;
	width: 620px;
	border: solid thin #E8E8E8;
	border-radius: 3px;
}

.home-left-2{
	display: inline-block;
	width: 100%;
	border-top: solid thin #E8E8E8;
	background: #FFF;
}


.user{
	display: inline-block;
	width: 100%;
	height: 193px;
	background: #FFF;
	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
/* ---------------End------------- */
/* -----Header ------*/


#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  margin-top: 1px;
  visibility: hidden;
  position: absolute;
  top: 1px;
  left: 99%;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: 1px;
  left: 99%;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul li {
  float: none;
}
#cssmenu ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
#cssmenu {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  width: 200px;
}
#cssmenu ul a,
#cssmenu ul a:link,
#cssmenu ul a:visited {
  display: block;
  color: #848889;
  text-decoration: none;
  font-weight: 300;
}
#cssmenu > ul {
  float: none;
}
#cssmenu ul {
  background: #fff;
}
#cssmenu > ul > li {
  border-left: 3px solid #d7d8da;
}
#cssmenu > ul > li > a {
  padding: 10px 20px;
}
#cssmenu > ul > li:hover {
  border-left: 3px solid #2580A2;
}
#cssmenu ul li:hover > a {
  color: #2580A2;
}
#cssmenu > ul > li:hover {
  background: #f6f6f6;
}
/* Sub Menu */
#cssmenu ul ul a:link,
#cssmenu ul ul a:visited {
  font-weight: 400;
  font-size: 14px;
}
#cssmenu ul ul {
  width: 180px;
  background: none;
  border-left: 20px solid transparent;
}
#cssmenu ul ul a {
  padding: 8px 0;
  border-bottom: 1px solid #eeeeee;
}
#cssmenu ul ul li {
  padding: 0 20px;
  background: #fff;
}
#cssmenu ul ul li:last-child {
  border-bottom: 3px solid #d7d8da;
  padding-bottom: 10px;
}
#cssmenu ul ul li:first-child {
  padding-top: 10px;
}
#cssmenu ul ul li:last-child > a {
  border-bottom: none;
}
#cssmenu ul ul li:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 13px;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}


.settings-block{
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
	margin-bottom : 50px;
	width: 850px;
	background: white;
	border-radius: 3px;
	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	padding: 15px;
	height: 580px;
}

.has-error-notification{
	border-radius: 3px;
	font-size: 12px;
	text-align: center;
	border: solid thin #EFE0B6;
	background: #f7e8bc; 
	font-weight: bold;
	margin-bottom: 10px; 
	padding: 5px;
}

#email-input-error{
	color: #AF4839;
}

#email-input-already{
	color: #5CA560;
}
.wrong-input{
	color: #AF4839;
}

.correct-input{
	color: #5CA560;
}

.settings-block-left{
	display: inline-block;
	width: 320px;
	border: solid thin #E8E8E8;
	border-radius: 3px;
}

.settings-block-left-2{
	padding: 5px 0 5px 10px;
	display: inline-block;
	width: 310px;
	border-top: solid thin #E8E8E8;
	font-size: 15px;
}

.settings-block-left-2:hover{
	background: #323232;
	color: #FFF;
}

.settings-block-left-2-bar{
	padding: 5px 0 5px 10px;
	display: inline-block;
	width: 315px;
	border-top: solid thin #E8E8E8;
	background: #0A5BC4;
	color: #FFF;
	font-size: 15px;
	font-weight: bold;
}

.settings-block-right{
	display: inline-block;
	float: right;
	width: 60%;
	border-radius: 3px;
	border: solid thin #E8E8E8;
}

.user-image{
	border-radius: 3px;
	float: left;
	margin: 5px;

}

.settings-block-left-name{
	font-weight: bold;
	font-size: 15px;
	border-bottom: solid thin #E8E8E8;
	padding: 0 0 34px 0;
}

.settings-block-right-heading{
	font-weight: bold;
	font-size: 15px;
	margin: 5px 0  0 10px;
  color: #525252;
}

.settings-block-right-heading-desc{
	margin: -10px 0  0 10px;
	font-size: 15px;
	color: #999999;
}

.save-changes-button{
	display: inline-block;
	float: right;
	margin-top: 60px;
	margin-bottom: 15px;
	margin-right: 15px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FFF;
	font-size: 13px;
	font-weight: bold;
	background-position: 0px -387px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid thin #057ed0;
	background: rgb(247,247,247); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: #057ed0;
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#31bbee), to(#059dd5));
    background-image: -webkit-linear-gradient(#31bbee, #059dd5);
    background-image: -moz-linear-gradient(#31bbee, #059dd5);
    background-image: -o-linear-gradient(#31bbee, #059dd5);
    background-image: linear-gradient(#31bbee, #059dd5);
    text-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.save-changes-button:hover{
	border: solid thin #c66717;
	background: rgb(247,247,247); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: #c66717;
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ec5d59), to(#c63d36));
    background-image: -webkit-linear-gradient(#ec5d59, #c63d36);
    background-image: -moz-linear-gradient(#ec5d59, #c63d36);
    background-image: -o-linear-gradient(#ec5d59, #c63d36);
    background-image: linear-gradient(#ec5d59, #c63d36);
}

.input-edit{
	border-radius: 3px;
	border: solid thin #E8E8E8;
	padding: 5px;
	margin: 15px 10px 0 0;
	width: 200px;
}

.input-edit-textarea{
	width: 400px;
}

.input-label{
	margin: 10px;
	font-size: 15px;
}

.email-label{
  padding: 0 34px 0 0; 
}

.settings-block-right-form{
	border-top: solid thin #E8E8E8; 
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	text-align: center;
}

.help-text{
	color: #999999;
	font-size: 12px;
}

.selected{
	background: #323232;
	color: #FFF;
}
/* ---------------End------------- */
/* --- Edit profile picture --- */

.viewport {
    overflow: hidden;
    position: relative;
    width: 150px;
}

.viewport a span {
    display: none;
    font-size: 10px;
    height: 10px;
    margin-top: 120px;
    position: absolute;
    text-align: center;
    width: 150px;
    z-index: 100;
}

.dark-background {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(15, 15, 15, 0.6);
    color: #fff;
    text-shadow: #000 0px 0px 20px;
}

.viewp {
    overflow: hidden;
    position: relative;
    width: 250px;
}

.viewp a span {
    display: none;
    font-size: 10px;
    height: 10px;
    margin-top: 163px;
    position: absolute;
    text-align: center;
    width: 250px;
    z-index: 100;
}

/* --- End --- */
/* --- j-Query UI --- */

.ui-dialog-titlebar{
	display: none;
}
.ui-dialog-content{
	font-size: 12px;
	font-weight: bold;
}
#close-dialog{
	float: right;
	color: #4385cf;
	font-size: 11px;
	font-weight: normal;
	margin-top: 20px;
	text-decoration: underline;
}

.dialog-image-thumb{
	float: left;
	margin-right: 10px;
}

.dialog-title{
	margin-bottom: 10px;
	font-size: 14px;
	width: 200px;
	display: block;
}

#edit_user_image{
	margin-top: 12px;
}


/* --- End --- */
 html, body{
	margin: 0 0 50px 0;
	padding: 0;
	min-width: 1140px;
	background-color: #E3E7E8;
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 18px;
	line-height: 1.72222;
	color: #2C2C2C;
}

a{
	color: #525252;
	font-weight: bold;
	text-decoration: none;
	font-family: "Helvetica Neue",Arial,sans-serif;
}

a:hover{
	color: #1F7BD3;
}

textarea{
	width: 100%;
	resize: none;
	display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 13px;
  outline: none;
  border: 1px solid #DDDDDD;
}

input{
  font-family: "Helvetica Neue",Arial,sans-serif;
  outline: none;;
  border: 1px solid #DDDDDD;
}

input:focus{
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

textarea:focus{
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);}

h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #516475;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #516475;
	padding-bottom: 5px;
}

.u-post-button {
	color: #FFF;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	margin: 10px 0 5px 444px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid thin #CCC;
	background: rgb(27,84,128); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: #1b5480;
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2878b8), to(#24659c));
    background-image: -webkit-linear-gradient(#2878b8, #24659c);
    background-image: -moz-linear-gradient(#2878b8, #24659c);
    background-image: -o-linear-gradient(#2878b8, #24659c);
    background-image: linear-gradient(#2878b8, #24659c);
    text-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.u-post-button:hover {
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#24659c), to(#1b5480));
    background-image: -webkit-linear-gradient(#24659c, #1b5480);
    background-image: -moz-linear-gradient(#24659c, #1b5480);
    background-image: -o-linear-gradient(#24659c, #1b5480);
    background-image: linear-gradient(#24659c, #1b5480);
}

.u-like{
	display: inline-block;
  color: #99999c;
}

.ld-container2{
  margin: 0 0 1px 42px;
  background: #F4F4F4;
}

.u-like:hover{
  color: #6BC36F;
}

.u-liked{
  display: inline-block;
	color: #6BC36F;
}



.comment-count{
  margin: 0 0 0 5px;
  color: #99999c;
}

.u-comments{
  display: inline-block;
  margin: 0 15px 0 0;
  padding: 0 0 0 5px;
  color: #99999c;
}

.u-upvotes{
  display: inline-block;
  margin: 0 15px 0 0;
  color: #99999c;
}

.u-downvotes{
  display: inline-block;
  margin: 0 15px 0 0;
  color: #99999c;
}

.u-dislike{
	display: inline-block;
  color: #99999c;
}

.u-disliked{
  display: inline-block;
  color: #D55C4B;
}

.u-dislike:hover{
  color: #D55C4B;
}

.u-timestamp{
	font-size: 12px;
	margin: -5px 0 0 0;
  color: #99999c;
  display: table;
}

.u-timestamp a{
  color: #99999c;
  font-weight: normal;
}

.u-timestamp a:hover{
  color: #1A82B9;
}

.l-count
{
	margin: 5px 10px 0 0;
  display: inline-block;
}

.d-count
{
	margin: 5px 0 0 0;
  display: inline-block;
}
/* -----------Count Bar------------- */
.countbar {
    height: 2px;
    overflow: hidden;
    margin: 0 0 0 42px;
}

div .countbar-like, div .countbar-dislike {
    float: left;
    height: 4px;
}

div .countbar-like {
  background-color: #6BC36F;
}

div .countbar-dislike {
    background-color: #D55C4B;
}


/* ----------- End ------------- */

/* -----------User Page------------- */

.user-container{
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
	width: 950px;}

.user-right-pane{
	display: inline-block;
	float: right;
	width: 33%;
}

.user-right-pane2{
	background: #FFF;
  padding-bottom: 10px;
  margin: 0 0 25px 0;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

.user-left-pane{
	display: inline-block;
	width: 620px;
	border: solid thin #E8E8E8;
	border-radius: 3px;
}

.user-left-2{
	margin-top: 15px;
	display: inline-block;
	width: 100%;
	border-top: solid thin #E8E8E8;
	background: #FFF;

}


.user{
	display: inline-block;
	width: 100%;
	background: #FFF;
	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.college-fest-list{
	background-color: #FFFFFF;
	width: 610px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	height: auto;
	padding: 20px;
	padding-bottom: 40px;
}


.user-username{
	color: #525252;
	font-weight: bold;
	margin: 0 0 -4px 0;
}

.user-description{
	color: #ABABAB;
	font-size: 14px;
}

.followings{
	background-color: #F6F6F6;
	margin-right: auto;
	margin-left: auto;
	color: #ABABAB;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-top: dashed thin #C9C9C9;
	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}



.followings-block{
	float: right;
	width: 73%;
	margin-top: 59px;
}
.followings-bar{
	background-color: #333333;
	width: 676px;
	margin-right: auto;
	margin-left: auto;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	width: 100%;
}

.followings-bar-element{
	display: inline-block;
	width: 24%;
}

.followings-following, .followings-followers, .followings-college, .followings-fest {
	display: inline-block;
	width: 24%;
}

.followings-following:hover, .followings-followers:hover, .followings-college:hover, .followings-fest:hover{
	color: #A82400;
}

.user-page-content{
	font-size: 10pt;
	border-bottom: solid thin #c1c1c1;
}

.home-page-content{
	font-size: 10pt;
	border-bottom: solid thin #c1c1c1;
}

.followings-pane-content{
	font-weight: bold;
	display: block;
}

.followings-pane-content span{
  color: #AAA;
  font-weight: normal;
}

.followings-pane{
	font-size: 10pt;
	margin: 15px 15px 0 15px;
}


/* ---------------End------------- */

/* -----------College Page------------- */

.fest-name-small{
	font-size: 11pt;
}


.college-fest-list-followers-count{
  font-size: 12px;
  font-weight: normal;
  color: #666;
  text-decoration: none;
  display: block;
  margin: -8px;
}



.college-fest-list-followers:hover{
	color: #1f7bc7;
}

.college-container{
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
	width: 950px;}

.college-right-pane{
	display: inline-block;
	float: right;
	width: 33%;
}

.trend{
  font-size: 13px;
  margin: 10px 5px 0 10px;
}

.trend-image{
  float: left;
  display: inline-block;
  margin: 0 10px 0 0;
  border-radius: 3px;
}

.trend-college{
  font-weight: normal;
  margin: -8px 0 0 0;
  display: block;
}

.college-right-pane2{
	background: #FFF;
  padding-bottom: 10px;
  margin: 0 0 25px 0;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

.college-left-pane{
	display: inline-block;
	width: 620px;
	border: solid thin #E8E8E8;
	border-radius: 3px;
}

.college{
	display: inline-block;
	width: 100%;
	height: 193px;
	background: #FFF;
	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.college-fest-list{
	background-color: #FFFFFF;
	width: 610px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	height: auto;
	padding: 20px;
	padding-bottom: 40px;
}

.college-name{
	font-weight: bold;
	margin: 10px 15px 0 0;
	display: inline-block;
}

.college-list{
	margin: 0 auto 0 auto;
	width: 400px;
}

.college-website{
	font-size: 9pt;
	margin: -7px 0 0 0;
}

.college-location{
	font-size: 10pt;
	margin: 2px 0 0 0;
	color: #999999;
	line-height: normal;
}

#footer{
  text-align: center;
  font-size: 12px;
  padding: 5px 0 10px 0;
  color: #aaa;
  font-weight: normal;
}

#footer a{
  font-size: 12px;
  font-weight: normal;
}

#footer a:hover{
  text-decoration: underline;
  color: #2c2c2c;
}

.description-post-user{
  display: inline-block;
  width: 100%;
  margin: 15px 0 20px 0;
  padding: 0 0 20px 0;
  height: auto;
  background: #FFF;
}

.description-post{
	display: inline-block;
	width: 100%;
	margin: 15px 0 20px 0;
  padding: 0 0 20px 0;
	height: auto;
	background: #FFF;
}

.list-header{

	width: 100%;
	display: inline-block;
	color: #538dc2;
	font-size: 15px;
	padding: 5px 10px 4px 10px;
  border-bottom: 1px solid #ececec;
}

.college-description{
	font-size: 13px;
}

#add-description-user{
  line-height: 1.5;
	padding:0 15px 0 0;
  color: #525252;
}

#add-description{
  padding:10px;
  color: #525252;
}

.add-description{
	margin: 18px;
	width: 95%;
}

#editing-description{
	font-size: 12px;
	margin-right: 15px;
	margin-top: 15px;
}

#add-description-cancel{
	float: right;
	font-size: 12px;
	margin-top: 10px;
	color: #538DC2;
}

#edit-description{
	color: #538DC2;
	font-weight: bold;
}

#edit-description:hover{
	text-decoration: underline;
}

.college-followings-count{
	display: inline-block;
}


.college-followings{
	color: #666;
	font-size: 13px;
	text-align: center;
	font-weight: normal;
	margin-right: 15px;
}

.college-right{
	float: right;
}
.college-followings:hover{
	color: #1f7bc7;
}

.u-update{
	float: right;
	background-color: #FFD700;
	margin-top: 5px;
	margin-left: 10px;
	padding: 6px;
	font-family: Verdana, Geneva, sans-serif;
	color: #222222;
	background-repeat: no-repeat;
	font-size: 12px;
	font-weight: bold;
	background-position: 0px -387px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.u-update:hover{
	text-decoration: none;
	background-color: #95A5A6;
	background-repeat: no-repeat;
	background-position: 0px -413px;
}

.u-follow{
	display: inline-block;
	float: right;
	margin: 15px 15px 0 0;
	padding: 2px 15px;
	color: #333338;
	font-size: 13px;
	font-weight: bold;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid thin #CCC;
	background: rgb(247,247,247); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: #F8F8F8;
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#DEDEDE));
    background-image: -webkit-linear-gradient(#FFF, #DEDEDE);
    background-image: -moz-linear-gradient(#FFF, #DEDEDE);
    background-image: -o-linear-gradient(#FFF, #DEDEDE);
    background-image: linear-gradient(#FFF, #DEDEDE);
    text-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.u-follow:hover{
	text-decoration: none;
	border-color: #BBB;
  	background-color: #F8F8F8;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F8F8F8), to(#D9D9D9));
    background-image: -webkit-linear-gradient(#F8F8F8, #D9D9D9);
    background-image: -moz-linear-gradient(#F8F8F8, #D9D9D9);
    background-image: -o-linear-gradient(#F8F8F8, #D9D9D9);
    background-image: linear-gradient(#F8F8F8, #D9D9D9);
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
  	color: #333338;
}

.u-unfollow{
	display: inline-block;
	float: right;
	margin: 15px 15px 0 0;
	padding: 2px 8px;
	color: #FFF;
	font-size: 13px;
	font-weight: bold;
	background-position: 0px -387px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid thin #057ed0;
	background: rgb(247,247,247); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: #057ed0;
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#31bbee), to(#059dd5));
    background-image: -webkit-linear-gradient(#31bbee, #059dd5);
    background-image: -moz-linear-gradient(#31bbee, #059dd5);
    background-image: -o-linear-gradient(#31bbee, #059dd5);
    background-image: linear-gradient(#31bbee, #059dd5);
    text-shadow: 0 1px 3px rgba(0,0,0,.2);

}

.u-unfollow:hover{
	border: solid thin #c66717;
	background: rgb(247,247,247); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: #c66717;
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ec5d59), to(#c63d36));
    background-image: -webkit-linear-gradient(#ec5d59, #c63d36);
    background-image: -moz-linear-gradient(#ec5d59, #c63d36);
    background-image: -o-linear-gradient(#ec5d59, #c63d36);
    background-image: linear-gradient(#ec5d59, #c63d36);
    color: #FFF;
}

.u-fest-follow{
	display: inline-block;
	float: right;
	padding: 2px 15px;
	color: #333338;
	font-size: 13px;
	font-weight: bold;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid thin #CCC;
	background: rgb(247,247,247); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: #F8F8F8;
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#DEDEDE));
    background-image: -webkit-linear-gradient(#FFF, #DEDEDE);
    background-image: -moz-linear-gradient(#FFF, #DEDEDE);
    background-image: -o-linear-gradient(#FFF, #DEDEDE);
    background-image: linear-gradient(#FFF, #DEDEDE);
    text-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.u-fest-follow:hover{
	text-decoration: none;
	border-color: #BBB;
  	background-color: #F8F8F8;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F8F8F8), to(#D9D9D9));
    background-image: -webkit-linear-gradient(#F8F8F8, #D9D9D9);
    background-image: -moz-linear-gradient(#F8F8F8, #D9D9D9);
    background-image: -o-linear-gradient(#F8F8F8, #D9D9D9);
    background-image: linear-gradient(#F8F8F8, #D9D9D9);
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
  	color: #333338;
}

.u-fest-unfollow{
	display: inline-block;
	float: right;
	padding: 2px 8px;
	color: #FFF;
	font-size: 13px;
	font-weight: bold;
	background-position: 0px -387px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid thin #057ed0;
	background: rgb(247,247,247); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: #057ed0;
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#31bbee), to(#059dd5));
    background-image: -webkit-linear-gradient(#31bbee, #059dd5);
    background-image: -moz-linear-gradient(#31bbee, #059dd5);
    background-image: -o-linear-gradient(#31bbee, #059dd5);
    background-image: linear-gradient(#31bbee, #059dd5);
    text-shadow: 0 1px 3px rgba(0,0,0,.2);

}

.u-fest-unfollow:hover{
	border: solid thin #c66717;
	background: rgb(247,247,247); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: #c66717;
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ec5d59), to(#c63d36));
    background-image: -webkit-linear-gradient(#ec5d59, #c63d36);
    background-image: -moz-linear-gradient(#ec5d59, #c63d36);
    background-image: -o-linear-gradient(#ec5d59, #c63d36);
    background-image: linear-gradient(#ec5d59, #c63d36);
    color: #FFF;
}


.college-fest-list-fest{
	padding: 10px;
}

.college-fest-list-description{
	margin-top: 5px;
}



.college-fest-follow{
	display: inline-block;
	float: right;
	margin-top: 15px;
	margin-right: 15px;
	background-color: #FFD700;
	padding-left: 30px;
	padding-top: 6px;
	padding-bottom: 4px;
	padding-right: 7px;
	font-family: Verdana, Geneva, sans-serif;
	color: #222222;
	background-image: url(images/icons.png);
	background-repeat: no-repeat;
	font-size: 12px;
	font-weight: bold;
	background-position: 0px -387px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.college-fest-follow:hover{
	text-decoration: none;
	background-color: #95A5A6;
	background-image: url(images/icons.png);
	background-repeat: no-repeat;
	background-position: 0px -413px;
}

.college-fest-unfollow{
	display: inline-block;
	float: right;
	margin-top: 15px;
	margin-right: 15px;
	background-color: #DDDDDD;
	padding-left: 30px;
	padding-top: 6px;
	padding-bottom: 4px;
	padding-right: 7px;
	font-family: Verdana, Geneva, sans-serif;
	color: #222222;
	background-image: url(images/icons.png);
	background-repeat: no-repeat;
	font-size: 12px;
	font-weight: bold;
	background-position: 0px -439px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.college-fest-unfollow:hover{
	text-decoration: none;
	background-color: #95A5A6;
	background-image: url(images/icons.png);
	background-repeat: no-repeat;
	background-position: 0px -465px;
}
/* ---------------End------------- */
/* -----------Fest Page------------- */
.event-container{
	margin: 0 auto 80px auto;
	width: 620px;
	background: #FFF;
	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	padding-bottom: 30px;
}

.event-separate-post{
	margin: 70px 0 0 0;
}
/* ---------------End------------- */
/* -----------Fest Page------------- */
.first_name{
	color: #1E1E1E;
}

.fest-container{
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
	width: 950px;
}

.ui-widget-content {
	font-family: "Helvetica Neue",Arial,sans-serif;
}
.fest-right-pane{
	display: inline-block;
	float: right;
	width: 33%;
}

.fest-right-pane2{
  background: #FFF;
  padding-bottom: 10px;
  margin: 0 0 25px 0;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

.fest-left-pane{
	display: inline-block;
	width: 620px;
	border: solid thin #E8E8E8;
	border-radius: 3px;
}

.fest-left-2{
	margin-top: 15px;
	display: inline-block;
	width: 100%;
	border-top: solid thin #E8E8E8;
	background: #FFF;

}


.fest{
	display: inline-block;
	width: 100%;
	height: 193px;
	background: #FFF;
	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.college-fest-list{
	background-color: #FFFFFF;
	width: 610px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	height: auto;
	padding: 20px;
	padding-bottom: 40px;
}

.fest-right{
	float: right;
}


.fest-followings-count{
	display: inline-block;
}


.fest-followings{
	color: #666;
	font-size: 13px;
	text-align: center;
	font-weight: normal;
	margin-right: 15px;
}

.fest-followings:hover{
	color: #1f7bc7;
}

.fest-content{
	background-color: #FFFFFF;
	width: 100%;
	font-size: 13px;
}

a.delete-post{
  margin: 10px;
  float: right;
  color: #99999c;
}

a.delete-post:hover{
  color: #2C2C2C;
}

.dialog-content{
  color: #538dc2;
  font-size: 15px;
  font-weight: normal;
  width: 500px;
  margin: 20px;
}

.dialog-button{
  margin: 0 20px 0 0;
}

#delete-confirm{
  float: right;
  color: #FFF;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid thin #CCC;
  background: rgb(27,84,128); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: #1b5480;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2878b8), to(#24659c));
    background-image: -webkit-linear-gradient(#2878b8, #24659c);
    background-image: -moz-linear-gradient(#2878b8, #24659c);
    background-image: -o-linear-gradient(#2878b8, #24659c);
    background-image: linear-gradient(#2878b8, #24659c);
    text-shadow: 0 1px 3px rgba(0,0,0,.2);
}

#delete-confirm:hover {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#24659c), to(#1b5480));
    background-image: -webkit-linear-gradient(#24659c, #1b5480);
    background-image: -moz-linear-gradient(#24659c, #1b5480);
    background-image: -o-linear-gradient(#24659c, #1b5480);
    background-image: linear-gradient(#24659c, #1b5480);
}

#delete-cancel{
  float: right;
  padding: 5px 10px; 
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -webkit-border-top-left-radius:5px;
  -moz-border-radius-topleft:5px;
  border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-radius-topright:5px;
  border-top-right-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  -moz-border-radius-bottomright:5px;
  border-bottom-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -moz-border-radius-bottomleft:5px;
  border-bottom-left-radius:5px;
  border:thin solid #dcdcdc;
}


#delete-cancel:hover{
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}

.fest-image{
	float: left;
	margin-right: 10px;
}

.fest-name{
	font-weight: bold;
	padding-top: 10px;
	margin: 0 15px -10px 0;
}

.fest-website{
	font-size: 9pt;
	margin: -7px 0 0 0;
	text-decoration: underline;
}

.fest-date{
	font-size: 10pt;
	margin: -2px 0 0 0;
	color: #999999;
}

.fest-left{
	float: left;
	margin-right: 15px;
}
.fest-college-name{
	color: #999999;
	font-weight: normal;
	font-size: 14px;
}

.fest-college-name:hover{
	color: #1f7bc7;
}

.fest-description{
	color: #52606D;
	font-size: 12px;
	margin-right: 15px;
	margin-top: 15px;
}

.fest-content-post{
	background: #f6f6f6;
	padding: 0 20px 10px 0;
}

#update{
  padding: 10px 0 0 0;
}

#event-description{
	outline: none;
	overflow: auto;
	width: 523px;
	padding: 8px 10px 7px 10px;
	margin: -2px 0 10px 0;
	display: block;
}

#thumbnail-container img{
  padding: 0 4px 0 0;
}
#thumbnail-container{
  padding: 0 4px;
}

.pic-upload{
  position:relative;
  width: 30px;
  height: 26px;
  overflow:hidden;
  display: inline-block;
  padding: 2px 7px 0 0; 
  
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -webkit-border-top-left-radius:5px;
  -moz-border-radius-topleft:5px;
  border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-radius-topright:5px;
  border-top-right-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  -moz-border-radius-bottomright:5px;
  border-bottom-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -moz-border-radius-bottomleft:5px;
  border-bottom-left-radius:5px;
  border:thin solid #dcdcdc;
}

.pic-upload:hover{
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}

.pic-upload a{
    position: absolute;
    height: 26px;
    text-align:center;
    line-height:26px;
    color:#AAA;
}

.pic-upload input{
    opacity:0; /* this will make it transparent */
    filter: alpha(opacity=0); /* transparency for Internet Explorer */
    position: absolute;  /* making it absolute with z-index:1 will place it on top of the button */
    z-index: 1;
    top:0;
    right:0;
    padding:0;
    margin: 0;
}
.status-update{
  padding: 0 0 0 52px;
}


#event-post-button {
	color: #FFF;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	float: right;
  font-size: 13px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid thin #CCC;
	background: rgb(27,84,128); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: #1b5480;
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2878b8), to(#24659c));
    background-image: -webkit-linear-gradient(#2878b8, #24659c);
    background-image: -moz-linear-gradient(#2878b8, #24659c);
    background-image: -o-linear-gradient(#2878b8, #24659c);
    background-image: linear-gradient(#2878b8, #24659c);
    text-shadow: 0 1px 3px rgba(0,0,0,.2);
}

#event-post-button:hover {
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#24659c), to(#1b5480));
    background-image: -webkit-linear-gradient(#24659c, #1b5480);
    background-image: -moz-linear-gradient(#24659c, #1b5480);
    background-image: -o-linear-gradient(#24659c, #1b5480);
    background-image: linear-gradient(#24659c, #1b5480);
}
.fest-content-post-link{
	font-size: 12px;
}

.fest-content-post-link:hover{
	text-decoration: underline;
}

.event-username{
	color: #1E1E1E;
}

.fest-content-event-content{
	margin: 0 10px 0 42px;
	padding-bottom: 15px;
	color: #312D2D;

}

.fest-content-event-content-comment{
	margin: -5px 10px 12px 42px;
	color: #312D2D;
}


.fest-content-event{
	border-bottom : 1px solid #e8e8e8;
	padding: 0 0 24px 0;
}

.comment-post-content{
	outline: none;
	resize: none;
	overflow: auto;
	width: 86%;
	margin: 0 0 0 0;
	padding: 7px 5px 7px 10px;
}


.comment-count-bar{
	margin: 5px 0 0 50px;
	color: #333;
	font-weight: bold;
	padding: 0px 0px;
	border-bottom: solid thin #ddd;
	border-top: solid thin #ddd;
	font-size: 14px;
}

.comment-count-bar p{
	display: inline-block;
	border-right: solid thin #ddd;
	padding:5px 15px 5px 0 ;
	margin: -1px 0 0 0;
}

.avatars{
	margin: -1px 210px 0 0px;
	display: inline-block;
	float: right;
}

.comment-count-bar img{
	border-radius: 3px;
	margin: 5px 2px 0 0;
}

.comment-count-bar i{
	color: #999;
}

.comment-bar{
	margin: -12px 0 0 44px;
	color: #99999c;
	font-weight: normal;
}

.comment-bar-link{
	color: #99999c;
	font-weight: normal;
}

.comment-bar-link:hover{
	color: #edc967;
}

.fest-content-event-comment-post{
	padding: 10px 0 10px 0;
	background-color: #F4F4F4;
	margin: 0 0 0 42px;
}

.fest-content-event-comment{
	margin: 0 0 0 42px;
	background: #f6f6f6;
}

.separate-comment{
	padding: 10px 0 0 0; 
  margin: 1px 0 0 0;
}



.event-album{
  padding: 5px 5px 1px 5px;
  border: 1px solid #ddd;
  box-shadow: 0 0 3px 0 rgba(200,200,200,0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

.album-group{
  padding: 5px 5px 1px 5px;
  border: 1px solid #ddd;
  box-shadow: 0 0 3px 0 rgba(200,200,200,0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

.album-upload{
	float: right;
	width: 45%;
	height: 50px;
	margin-top: 10px;
	text-align:center;
	line-height:50px;
}

.album-upload:hover{
	background-color: #4C9AD8;
}



.pic-upload-album{
    position:relative;
    width: 229px;
    height: 50px;
    overflow:hidden;
    display: inline-block;
    border: dashed thin #CCCCCC;
}

.pic-upload-album:hover{
	background-color: #4C9AD8;

}

.pic-upload-album a{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align:center;
    line-height:50px;
    color: #CCCCCC;
}

.pic-upload-album input{
    font: 500px monospace; /* make the input's button HUGE */
    opacity:0; /* this will make it transparent */
    filter: alpha(opacity=0); /* transparency for Internet Explorer */
    position: absolute;  /* making it absolute with z-index:1 will place it on top of the button */
    z-index: 1;
    top:0;
    right:0;
    padding:0;
    margin: 0;
    height: 100%;
}

.album-name{
	display: block;
	width: 300px;
	margin: 0 0 10px 0;
	border: thin solid #cccccc;
	padding: 10px 10px 10px 10px;
}

.caption{
	display: block;
	width: 98%;
	border: thin solid #cccccc;
	padding: 10px 10px 10px 10px;
	margin: 0 0 0 0;
}

.upload{
	display: block;
	width: 100%;
	margin-top: 10px;
}

.one-pic{
	width: 220px;
	margin: 0 10px 0 0; 
	float: right;
}


#album-upload-close-dialog{
	color: #FFF;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	margin: 10px 0 0 528px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid thin #CCC;
	background: rgb(27,84,128); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: #1b5480;
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2878b8), to(#24659c));
    background-image: -webkit-linear-gradient(#2878b8, #24659c);
    background-image: -moz-linear-gradient(#2878b8, #24659c);
    background-image: -o-linear-gradient(#2878b8, #24659c);
    background-image: linear-gradient(#2878b8, #24659c);
    text-shadow: 0 1px 3px rgba(0,0,0,.2);
    font-size: 12px;
}

#album-upload-close-dialog:hover {
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#24659c), to(#1b5480));
    background-image: -webkit-linear-gradient(#24659c, #1b5480);
    background-image: -moz-linear-gradient(#24659c, #1b5480);
    background-image: -o-linear-gradient(#24659c, #1b5480);
    background-image: linear-gradient(#24659c, #1b5480);
}
.album-left{
	display: inline-block;
}
.album-description{
	width: 300px;
	margin: 0 0 0 0;
	padding: 10px 10px 10px 10px;
}

.fest-content-event-content-title{
	font-weight: bold;
	margin-bottom: 5px;
}


.empty{
	margin-top: 100px;
}
/* ---------------End------------- */
/* ---------------End------------- */
/* ---------------End------------- */



#body-left{
	float: left;
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
	width: 300px;

	padding-left: 200px;
}

#body-right{
	float: right;
	padding-top: 7px;
	padding-left: 10px;
	height: auto;
	padding-right: 10px;
	width: 840px;
	position: static;
}


.button{
	margin: 0 10px 15px 10px;
	padding: 10px 0 10px 0;
	color: #FFF;
	background: #26A95D;
	width: 322px;
	font-size: 14px !important;
}

.button:hover{
	background: #219150;
}

.fest_save_input{
	outline: none;
	overflow: auto;
	width: 299px;
	padding: 3px 10px 3px 10px;
	margin: 50px 10px 0 10px;
	display: block;
	border: solid thin #cccccc;
}

#college_input{
	margin: 0px 10px 0 10px;
}


.ui-widget-content.success-dialog {
    background: #F9F9F9;
    border: solid thin #aaaaaa;
    color: #222222;
}

.ui-dialog.success-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

.close-font{
	float: right;
	display: inline-block;
}

.close-font:hover{
	color: #AF4839;
}


.ui-dialog,.ui-dialog,.ui-widget, .ui-widget-content, .ui-corner-all, .ui-draggable, .ui-resizable{
	background:#EAEAEA !important;
}

#upload-album-dialog{
	font-family: "Helvetica Neue",Arial,sans-serif;
}

.ui-dialog.success-dialog .ui-dialog-content {
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
    margin: 0;
}

.ui-dialog.success-dialog .ui-widget-header {
    background: #F9F9F9;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.ui-dialog.success-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
    font-size: 1em;
}


/* Posts */
.fests{
	border: thin solid #D3D4D7;
	background-color: #FFFFFF;
	width: 520px;
	font-family: Verdana, Geneva, sans-serif;
	padding: 13px;
	margin: 13px;
}

.author{
	font-size: 12px;
	font-weight: bold;
	color: #063;
}
.timestamp{
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #E9EAED;
	font-size: 10px;
	color: #979EC4;
}
.update-content{
	background-color: #FAFBFB;
	font-size: 12px;
	margin: 5px;
}

.fests .author a {
	color: #063;
	text-decoration: none;
}

/* Signup page */
#register-button{
	width: 272px;
}

.signup-form{
	border: thin solid #D3D4D7;
	background-color: #FFF;
	width: 450px;
	text-align: center;
	right: 500px;
	padding: 40px;
	position: absolute;
    margin: -230px 0 0 -200px;
    top: 50%;
    left: 50%;
}

.signup-form h1 {
	font-family: Verdana, Geneva, sans-serif;
	color: #BF3F3F;
}

/* Login page */
#id_username{
	margin: 5px;
	width: 226px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	padding: 5px;
	border: thin solid #E6E6E6;
}

#id_username:focus{
	outline: none;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E6E6E6;
	border-right-color: #E6E6E6;
	border-bottom-color: #219FE1;
	border-left-color: #E6E6E6;
}

#id_password{
	margin: 5px;
	width: 228px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	padding: 5px;
	border: thin solid #E6E6E6;
}

#id_password:focus{
	outline: none;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E6E6E6;
	border-right-color: #E6E6E6;
	border-bottom-color: #219FE1;
	border-left-color: #E6E6E6;
}

.label{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
}


/* Login page */
.errors{
	border: thin solid #D3D4D7;
	background-color: #BF3F3F;
	text-align: center;
	padding: 10px;
}


/* Search input */
#search-input{
	background: url(images/search.png) no-repeat scroll 0px 0px;
	background-color: #FFF;
	padding-left:30px;
}

/* College List */


.side-bar{
	float: left;
	width: 200px;
	margin-right: 10px;
}

.college-content{
	float: right;
	width: 500px;
}

.college-image{
	border: 7px solid #FFF;
	margin-bottom: 10px;
}

.description{
	margin-top: 10px;
	width: 200px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #999;
	background-color: #FFF;
	border: thin solid #D3D6DB;
	padding: 15px;
}

.description-header{
	font-weight: bold;
	color: #900;
	font-size: 14px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #D3D6DB;
	margin-bottom: 10px;
	padding-bottom: 3px;
}

.edit-button{
	float: right;
	background-color: #DEE1E4;
	border: thin solid #A6A6A6;
	padding-right: 5px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.edit-button:hover{
	background-color: #F6F7F8;
}

.edit-button a {
	text-decoration: none;
	color: #333;
}

.follow-button{
	background-color: #339966;
	border: thin solid #339966;
	text-align: center;
	padding-right: 36px;
	padding-left: 36px;
	font-weight: bold;
	font-size: 14px;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 103px;
	text-decoration: none;
	color: #000;
}

.follow-button:hover{
	background-color: #F6F7F8;
}


/*----------- Fest Page------*/
.post {
	height: auto;
	overflow: hidden;
	width: 550px;
	font-size: 12px;
	color: #333333;
	padding-bottom: 10px;
	padding-top: 10px;
	border: thin solid #E5E5E5;
	background-color: #FFF;
	padding: 15px;
	margin: 15px;
}
    
.post-right {
	width: 488px;
	float: right;
}
.post-bar {
	font-size: 11px;
	color: #667AC1;
	padding: 5px;
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #D8D8D8;
	border-bottom-color: #D8D8D8;
}
.post-likes{
	float: left;
}
.post-dislikes{
	float: left;
}

.post-timestamp{
	display: inline-block;
}

.post-left {
	float: none;
	/* the next props are meant to keep this block independent from the other floated one */
	width: 60px;
	overflow: hidden;
}

.comments {
	overflow: hidden;
	background-color: #EDEFF4;
	margin-bottom: 10px;
	background: #F8F8F8;
}
.post-author {
	font-weight: bold;
	text-decoration: none;
	color: #3B5998;
	margin-bottom: 5px;
}
.post-author:hover {
	text-decoration: underline;
}
.post-content {
	margin-bottom: 10px;
}
.post-comment-link  {
	text-decoration: none;
	color: #667AC1;
}
.post-comment-link:hover {
	text-decoration: underline;
}

.comments-right {
	width: 425px;
	float: right;
	font-size: 11px;
	padding-left: 0px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.comments-left {
	overflow: hidden;
	width: 30px;
	padding: 10px;
}

.comment-timestamp {
	color: #B299A5;
	font-size: 10px;
	margin-top: 5px;
}

.post-comment {
	margin-top: 5px;
	margin-bottom: 5px;
}

.description-bar{
	background-color: #B0C0E5;
	padding: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
}


/*----------- Status update-----*/
.registration-success{
  width: 500px;
  margin: 0 auto 0 auto;
  background: #fff;
  border: solid thin #ddd;
  border-radius: 3px;
  padding: 80px;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
}

.registration-success .fi-unlink{
  color: #B4DCEA;
  text-shadow: 0 4px 3px #5C5C5C;

}

.registration-success .fi-clock{
  color: #3498BB;
  text-shadow: 0 4px 3px #5C5C5C;
}

.registration-success .fi-check{
  color: #28844A;
  text-shadow: 0 4px 3px #5C5C5C;
}

#globalheading{
  position: fixed;
  z-index: 500;
  box-shadow: 0 0 3px #aaa;
  -moz-box-shadow: 0 0 3px #aaa;
  -webkit-box-shadow: 0 0 3px #aaa;
  background: #1E1E1E;
  min-height: 40px;
  width: 100%;
}

